<table>
    <tr>
        <td valign="top">
            <div class="content">
                <div class="conthead">
                    <h2><i class="icon-cog-alt"></i> Удалить опрос?</h2>
                </div>
                <div class="contbody_forms">

                </div>
                <form action="<?=$home?>/control/interview/delete" method="post">
                    <? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
                    <input type="hidden" name="id" value="<?= $data['id'] ?>" />

                    <div class="contbody_forms">
                        <input type="submit" value="Удалить" name="delete">
                        <a href="/">Отмена</a>
                    </div>
                </form>
            </div>
        </td>
        <td class="right_back_menu">
            <? temp::include('control.index.right.tpl') ?>
        </td>
    </tr>
</table>
<style>

</style>