<span style="color: #bababa; position: relative; top: 1px;">
    BANKROT-SPY.RU <?=date("Y")?>г.
    | <a href="<?=$home?>/pages/contakts">Контакты</a>
    | <a href="https://docs.google.com/document/d/1d-IJT1PAyB_PuWJR3tBQx0AFUgonzAXRPdyTcHsJr6Q/edit?usp=sharing">Политика конфиденциальности</a>
    | <a href="https://docs.google.com/document/d/14LhnOpqla5MnZ3bcGUn2cYQ426fRwsHG6XOl67GNJhU/edit">Согласие на обработку персональных данных</a>
</span>
