<div class="contbody_forms note-cont">
    <table class="lottable">
        <tr class="note-save-hidden">
            <td style="width: 60px;"><b>Комментарий:</b><br/></td>
            <td width="100%"><textarea placeholder="Ваш комментарий для лота (просмотр только для вас)" cmd="note|show"><?= $note ?></textarea></td>
            <td style="padding-left: 15px;"><a cmd="note|<?=$type?>|<?=$id?>" class="button">Сохранить</a></td>
             <td><a cmd="close|<?=$type?>|<?=$id?>" class="button">Отмена</a></td>
        </tr>
    </table>
</div>
