<div class="content_ad_block">
    <?=$adItem['text']?>
    <div class="content_ad_oper">
        <div class="content_ad_mark">Реклама</div>
        <a href="<?=$adItem['link']?>" target="_blank" <?if($adItem['priority']):?>rel="nofollow"<?endif?> class="urlbutton_index content_ad_btn"><?=$adItem['btn']?></a>
    </div>
</div>
