<div class="right_panel_conf">
    <div class="menu_rt">Админпанель:</div>
    <div class="elmenu"><a href="<?=$home?>/control/keys">Категории</a></div>
    <div class="elmenu"><a href="<?=$home?>/control/keysfix">Пересортировка</a></div>
   <!--  <div class="elmenu"><a href="<?=$home?>/control/categories">Категории (устарело)</a></div>
    <div class="elmenu"><a href="<?=$home?>/control/categoryfix">Пересортировка (устарело)</a></div> -->
    <div class="elmenu"><a href="<?=$home?>/control/regions">Регионы</a></div>
	     <div class="elmenu"><a href="<?=$home?>/control/regionsfixpreg">Доп. определение регионов</a></div>
    <div class="elmenu"><a href="<?=$home?>/control/regionsfix">Определение регионов</a></div>
    <div class="elmenu"><a href="<?=$home?>/full_reindex_lots/bankrot/">Индексация лотов</a></div>
    <div class="elmenu"><a href="<?=$home?>/control/categories/fix_lot_email/">Исправление email адресов</a></div>
    <div class="elmenu"><a href="<?=$home?>/control/categories/fix_lot_phone/">Исправление номеров телефонов</a></div>
    <div class="down_rmenu"> </div>
</div>
