<style>
    input[type="number"]{
        border: 1px solid #a8a8a8;
        background: url(../images/input_text.png) repeat-x #F9F8F8;
        vertical-align: middle;
        margin: 4px 0px 5px 0px;
        width: 250px;
        font-size: 14px;
        padding: 6px 9px 7px 9px;
        border-radius: 2px;
        display: inline-block;
        height: 18px;
    }    
</style>
<table>
    <tr>
        <td valign="top">

<form name="mess" action="<?=$home?>/control" method="post">
<? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
<div class="content">
    <div class="conthead">
        <h2><i class="icon-cog-alt"></i> <?=lang('base_settings')?></h2>
    </div>
    <div class="contbody_forms">
        <b><?=lang('site_domain')?></b><br/>
        <input type="text" name="site_domain" value="<?=$site_domain?>" />
    </div>
    <div class="contbody_forms">
        <b><?=lang('site_name')?></b><br/>
        <input type="text" name="site_name" value="<?=$site_name?>" />
    </div>
    <div class="contbody_forms">
        <b>Количество посещений в день до бана по ip, для гостей</b><br/>
        <input type="number" name="bun_visits_guest" value="<?=$bun_visits_guest?>" />
    </div>
    <div class="contbody_forms">
        <b>Настройки для бана пользователя при ошибке авторизации (количество попыток/ время ввода в минутах / период бана в часах)</b><br/>
        <input type="number" name="number_attempts" value="<?=$number_attempts?>" />
        <input type="number" name="time_attempts" value="<?=$time_attempts?>" />
        <input type="number" name="bans_period" value="<?=$bans_period?>" />
    </div>
    
    <div class="contbody_forms">
        <b><?=lang('site_keywords')?></b><br/>
        <div class="texta"><textarea name="site_keywords" rows="5"><?=$site_keywords?></textarea></div>
    </div>
    <div class="contbody_forms">
        <b><?=lang('site_description')?></b><br/>
        <div class="texta"><textarea name="site_description" rows="5"><?=$site_description?></textarea></div>
    </div>
    <div class="contbody_forms">
        <b>Текст на странице регистрации:</b><br/>
        <?=func::tagspanel('messarea');?>
        <div class="texta"><textarea id="messarea" name="mess" rows="5"><?=$text?></textarea></div>
    </div>
    <div class="contbody_forms">
        <b>Рекламный текст на главной:</b><br/>
        <?=func::tagspanel('main_adv_text');?>
        <div class="texta"><textarea id="main_adv_text" name="main_adv_text" rows="5"><?=$main_adv_text?></textarea></div>
    </div>
    <div class="contbody_forms">
        <b>Предупреждение при заказе ЭЦП:</b><br/>
        <?=func::tagspanel('private_attention');?>
        <div class="texta"><textarea id="main_adv_text" name="private_attention" rows="5"><?=$private_attention?></textarea></div>
    </div>
    <div class="contfin_forms">
        <input name="submit" type="submit" value="<?=lang('save')?>" />
    </div>
</div>
</form>


        </td>
        <td class="right_back_menu">
            <? temp::include('control.index.right.tpl') ?>
        </td>
    </tr>
</table>