<table>
    <tr>
        <td valign="top">

            <?if ($error):?>
            <div class="error">
                <?foreach($error as $error): ?>
                <?=$error?><br/>
                <?endforeach?>
            </div>
            <?endif?>

            <form name="mess" action="<?=$home?>/control/editkeys?id=<?=$id?>" method="post">
                <? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
                <div class="content">
                    <div class="conthead">
                        <h2><i class="icon-cog-alt"></i>Редактирование категории лота</h2>
                    </div>
                    <div class="contbody_forms">
                        <b>Название категории:</b><br/>
                        <input name="name" type="text" value="<?=$name?>"/>
                    </div>
                    <div class="contbody_forms">
                        <b>Ключевые слова</b> (каждое в новой строке)<br/>
                        <div class="texta"><textarea name="keywords_lot" rows="13"><?=htmlspecialchars_decode($keywords)?></textarea></div>
                        <br>
                        <h3><p><a href="#" id="help">Справка</a></p></h3>
                        <div id="help-block" style="display: none;">
                            <p>Антиключи начинаются с двух символов подчеркивания: __</p>
                            <p>Если в ключе только строчные буквы, то поиск происходит БЕЗ учета регистра. Если есть хотя бы одна прописная буква, то поиск происходит с учетом регистра</p>
                            <p>^ - начало текста</p>
                            <p>$ - конец текста</p>
                            <p>. - любой символ</p>
                            <p>[а-я] - любая русская буква</p>
                            <p>[А-Я] - любая прописная русская буква</p>
                            <p>[0-9] или \d - любая цифра</p>
                            <p>\D - Не цифра (любой символ кроме символов 0-9)</p>
                            <p>\s - пустой символ (пробел или символ табуляции</p>
                            <p>\S - любой НЕ пустой символ</p>
                            <p>\w - "Словесный" символ (символ, который используется в словах. Обычно все буквы, все цифры и знак подчеркивания _)</p>
                            <p>\W - Все, кроме символов, определяемых метасимволом \w</p>
                            <p>| - оператор или</p>
                            <p>* - указывает, что символ должен быть повторен 0 или более раз</p>
                            <p>+ - указывает, что символ должен быть повторен 1 или более раз</p>
                            <p>? - Указывает, что символ моет как присутствовать, так и нет, но при этом не может повторяться более одного раза</p>
                            <p>{2,4} - символ долен повториться минимум 2 раза, но не более 4.</p>
                            <p>{4} - символ должен повторяться ровно 4 раза</p>
                            <p>[аи] - символ а или и</p>
                            <p><b>Спецсимволы нужно экранировать обратным слешем \</b> Пример: " заменяем на \" , - заменяем на \-</p>
                            <h2><b>Примеры:</b></h2>
                            <p>^.{0,50}дебитор - искать в ключ "дебитор" в первых 57ти символах текста</p>
                            <p>^.{0,8}(ЗАО|ОАО|ООО) - В начале строки может быть от 0 до 8 любых символов, затем следует ЗАО или ОАО или ООО</p>
                            <p>прав[ао] - сработает как на слово "право" так и на слово "права"</p>
                            <p>^[А-Я][а-я]*\s[А-Я][А-Я]\s[^0-9] Строка начинается с заглавной буквы (^[А-Я]), затем любое количество русских букв в нижнем регистре ([а-я]*), пробел \s , любые 2 заглавные буквы ([А-Я][А-Я]), пробел \s, не цифра [^0-9]. Сработает на строку "Иванов СВ"</p>
                            
                        </div>
                    </div>
                    <div class="contfin_forms">
                        <input name="submit" type="submit" value="Сохранить" />
                    </div>
                </div>
            </form>

        </td>
        <td class="right_back_menu">
            <div class="right_panel_conf">
                <div class="menu_rt"><?=lang('menu_settings')?>:</div>
                <div class="elmenu"><a href="<?=$home?>/control/keys">Вернуться</a></div>
                <div class="down_rmenu"> </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function() {
       $('body').on('click', '#help', function(event) {
           event.preventDefault();
           $('#help-block').toggle('fast');
           return false;
       });
    });
</script>