<table>
    <tr>
        <td valign="top">

<form name="mess" action="<?=$home?>/interview?id=<?= $data['id'] ?>&save" method="post">
<? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
<div class="content">
    <div class="conthead">
        <h2><i class="icon-cog-alt"></i> <?= $data['name'] ?> [Результаты]</h2>
    </div>
    <? foreach ($answer as $ans){ ?>
    <div class="contbody_forms">
        <label><?= $ans['name'] ?></label><br/>
        <progress max="<?= $max ?>" value="<?= $ans['count'] ?>"></progress> (<?= $ans['count'] ?>)
    </div>
    <? } ?>
</div>
</form>


        </td>
    </tr>
</table>