<table>
    <tr>
        <td valign="top">

<form name="mess" action="<?=$home?>/interview?id=<?= $data['id'] ?>&save" method="post">
<? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
<div class="content">
    <div class="conthead">
        <h2><i class="icon-cog-alt"></i> <?= $data['name']!=''?$data['name']:'Опрос завершен' ?></h2>
    </div>
    <? if ($data['name']!=''){ foreach ($answer as $ans){ ?>
    <div class="contbody_forms">
        <label>
            <input type="radio" name="rez" value="<?= $ans['id'] ?>">
            <?= $ans['answer'] ?>
        </label>
    </div>
    <? } ?>
    <div class="contfin_forms">
        <input name="save" type="submit" value="Проголосовать" />
    </div>
    <? } ?>
</div>
</form>


        </td>
    </tr>
</table>