<div class="content" style="width: 70%; margin: 0 auto; margin-top: 30px;">
    <div class="conthead">
        <table>
            <tr>
                <td>
                    <b>Удаление актива</b><br/>
                </td>
            </tr>
        </table>
    </div>
    <div class="contbodytext">
        <center>Вы действительно хотите удалить актив?</center>
    </div>
    <div class="contfintext">
        <form name="mess" action="<?=$home?>/invest/invdel?id=<?=$id?>"  method="post">
            <? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
            <center><input name="delete" type="submit" value="Удалить" />  <a class="urlbutton" href="<?=$home?>/invest/<?=$id?>"><?=lang('cancel')?></a></center>
        </form>
    </div>
</div>