<div class="right_panel_conf">
    <div class="menu_rt">Меню:</div>

    <div class="elmenu"><a href="<?=$home?>/parserstat">Статистика парсеров</a></div>
    <div class="elmenu"><a href="<?=$home?>/cls/watcher.php">Статистика и аналитика</a></div>
    <div class="elmenu"><a href="<?=$home?>/parserstat/errlots">Ошибки разбора API</a></div>
    <div class="elmenu"><a href="<?=$home?>/control">Админпанель</a></div>
    <div class="down_rmenu"> </div>
</div>