<table>
    <tr>
        <td valign="top">
            <div class="content">
                <div class="conthead"><h2><i class="icon-user-male"></i> <?=lang('u_online')?></h2></div>

                <?if($out):?>
                <?foreach($out as $out): ?>
                <div class="contbody_forms">
                    <table>
                        <tr>
                            <td style="width: 60px;">
                                <?if(core::$user_id):?>
                                <a href="<?=$home?>/user/profile?id=<?=$out['id']?>"><img class="avatar" src="<?=$out['avatar']?>"/></a>
                                <?else:?>
                                <img class="avatar" src="<?=$out['avatar']?>"/>
                                <?endif?>
                            </td>
                            <td>
                                <div class="ank">
                                    <?if(core::$user_id):?>
                                    <a href="<?=$home?>/user/profile?id=<?=$out['id']?>"><b><?=$out['login']?></b></a>
                                    <?else:?>
                                    <b><?=$out['login']?></b>
                                    <?endif?>
                                    <hr/>
                                    Дата регистрации: <?= $out['registered'] ?><br/>
                                    <span class="status"><?=$out['rights']?></span><br/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <?endforeach?>
                <?else:?>
                <div class="contbody_forms"><?=lang('no_users')?></div>
                <form name="mess" action="<?=$home?>/user/syncusers" method="post">
                    <? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
                    <div class="content">
                        <div class="contfin_forms">
                            <input name="submit" type="submit" value="<?=lang('perform')?>" />
                            <input name="cancel" type="submit" value="<?=lang('cancel') ?>" />
                        </div>
                    </div>
                </form>
                <?endif?>
                <div class="contfin_forms" style="padding: 9px 20px">
                    Синхронизировно пользователей: <?=$total_in?>
                </div>

            </div>

            <?if($navigation):?><div class="navig"><?=$navigation?></div><?endif?>
        </td>
        <td class="right_back_menu">
            <? temp::include('users.online.right.tpl') ?>
        </td>
    </tr>
</table>