<div class="content" style="width: 70%; margin: 0 auto; margin-top: 30px;">
    <div class="conthead">
        <table>
            <tr>
                <td>
                    <center><b><?=lang('subscribe_profile')?></b></center>
                </td>
            </tr>
        </table>
    </div>
    <div class="contbodytext">
        <center>Вы хотите получать ежедневную рассылку по лотам из профиля "<?=$pname?>"?</center>
    </div>
    <div class="contfintext">
        <form name="mess" action="<?=$home?>/user/subscribeprofile?id=<?=$id?>" method="post">
            <? temp::formid() /* ЭТА ФУНКЦИЯ ОБЯЗАТЕЛЬНА ДЛЯ ВСЕХ ФОРМ!!! */?>
            <center><input name="submit" type="submit" value="Подписаться" />  <a class="urlbutton" href="<?=$home?>/user/cab">Отмена</a></center>
        </form>
    </div>
</div>