<div class="content" style="width: 70%; margin: 0 auto; margin-top: 30px;">
    <div class="conthead">
        <table>
            <tr>
                <td>
                    <b>Сервис заполнения заявки</b><br/>
                </td>
            </tr>
        </table>
    </div>
    <?
        if(isset($rights_not)){
    ?>
    <div class="contbodytext">
        <center>Сервис заполнения заявки доступен на платной подписке "ВИП тариф"</center>
    </div>
    <div class="contfintext">
        <center><a class="urlbutton" href="<?=$home?>/tariffs">Перейти к оплате</a></center>
    </div>
    <?
    } else {
    ?>
    
    <div class="contbodytext">
        <center>Сервис заполнения заявки доступен только для зарегистрированных пользователей. Войдите на сайт или зарегистрируйтесь.</center>
    </div>
    <div class="contfintext">
        <center><a class="urlbutton" href="<?=$home?>/login">Авторизация</a> <a class="urlbutton" href="<?=$home?>/user/register">Регистрация</a></center>
    </div>
    <?
    }
    ?>
</div>