    <td class="right_back_menu">
            <div class="right_panel_conf">
                <div class="menu_rt">Меню:</div>
                <div class="elmenu"><a href="<?=$home?>/control/mail/mailing">Создать рассылку</a></div>
                <div class="elmenu"><a href="<?=$home?>/control/mail/mailinglist">Список рассылок</a></div>
                <div class="elmenu"><a href="<?=$home?>/control/mail/templates">Шаблоны писем</a></div>
                <div class="elmenu"><a href="<?=$home?>/control/mail/unsubscribing">Отписавшиеся</a></div>
                <div class="down_rmenu"> </div>
            </div>
        </td>