    <td class="right_back_menu">
            <div class="right_panel_conf">
                <div class="menu_rt">Меню:</div>
                <div class="elmenu"><a href="/control/ad">Активные рекламные кампании</a></div>
                <div class="elmenu"><a href="/control/ad/all">Все рекламные кампании</a></div>
                <div class="elmenu"><a href="/control/ad/campaign">Создать рекламную кампанию</a></div>
                <div class="down_rmenu"> </div>
            </div>
        </td>