* {
    margin: 0;
    padding: 0;
}

body{
    min-width: 1140px;
}

body, td, textarea, input, select {
font: 14px Arial,Verdana,sans-serif;
}

@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:local('PT Sans'),local('PTSans-Regular'),url(../fonts/PT_Sans.woff) format('woff')
}

a:link, a:visited, a:hover, a:focus, a:active {
border: 0;
outline: 0;
}

body, td, textarea, input, select {
font: 14px 'PT Sans',Arial,Verdana,sans-serif;
line-height: 20px;
}

table{
border-collapse: collapse;
width: 100%;
}

table td{
padding: 0px    
}

a:hover {
color : red;
text-decoration : underline;
}

img{
border: 0;
margin: 0;
padding: 0;  
}

a img{
border: none;
}

ol {
margin: 0px;
}



.backcode{
background-color: #f8f8f8;
border : 1px solid #d9d8d8;
font: 13px monospace;
margin: 8px 0px 8px 0px; 
}

.codeline1, .codeline2{
margin-left: 50px;
padding-top: 1px;
padding-bottom: 1px;
border-bottom:  1px solid #f3f3f3;
border-left:  1px solid #e8e8e8;
color: #929292;
padding-left: 5px;
font-size: 14px;
font-weight: normal;
}

.linetext{
padding: 0px 2px 0px 2px;
display: block;
}

.linetext div{
display: inline;
}

.codeline1 span.linetext, .codeline2 span.linetext {
color: black;
}

.pr_head{
    background-color: #F8F8F8;
    border: 1px solid #D9D8D8;
    margin-top: 8px;
    border-bottom: 1px dotted #D9D8D8;
}

.controls {
    font-weight: normal;
}

.controls a {
display: inline-block;
}

.controls a:hover{
text-decoration: none;
cursor: pointer;
}

.presentation {
border: 1px solid #d9d8d8;
border-top: 0;
padding: 2pt;
display: block;
}

td.switch{
white-space: nowrap;
border-right: 1px solid #d9d8d8;
padding: 5px;
}

td.tthead{
font-weight: bold;
font-size: 16px;
width: 100%;
text-align: left;
padding: 5px;
}

.search_highlight{
background: #ffed7d;
padding:1px;
border-radius:2px;
}

/* Эээх, воюем с вебкитом, супер*/
input[type="text"]:focus {
outline: none;
}

form{
    display: inline;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="file"]::-moz-focus-inner,  input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none; padding:0; margin:0;
}

.attach-class-before
{    
    margin-top: 10px;
}
.attach-class-before:before
{
    display: block;
    content: "";
    background:  url(../images/attention.svg);
    width:19px;
    height: 18px;
    background-size: contain;
    background-position: center;
    float:left;
    margin-right: 5px;
    
}
.tel_ot_left {
    float: left;
    width: 60%;
}
.tel_ot {
    float: left;
    width: 40%;
}
.contbody_forms_blocks {
    display: flex;
}
#edit-lot form[name="mess"] .content .conthead{
    display: flex;
}
#edit-lot form[name="mess"] .content .conthead h2{
    display: inline-flex;
    width: 45%;
    padding-top: 14px;
}
span.show_or_hide {
    color: #8f8f92;
    display: block;
    border-top: 1px dotted #e8e8e8;
    line-height: 13px;
    padding-left: 2px;
    cursor: pointer;
}
span.show_or_hide:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #6b6b6e;
}

#search-form-wrapper #extend-fields.confiscated .filed-group.column_2 hr.custom-margin-bottom{
    margin-bottom: 1px;
}
#search-form-wrapper #extend-fields.confiscated  select#reg_select {
     margin-bottom: 8px;
 }
#sendRequest_button:hover{
    opacity: 0.8;
}
#sendRequest_button
{
    padding: 6px 13px 6px 13px;
    background: #ff9b24;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 8px 0px 8px 0px;
    cursor: pointer;
    clear: both;
    display: block;
}
.modal-window#sendMessage {
    position: fixed;
    top: 0!important;
    width: 600px;
    left: 33%;
    margin-left: -100px;
    z-index: 10000;
}
.modal-window#sendMessage .send_mess{
    max-width: 150px;
}
.button.cog-alt .icon-cog-alt:before {
    content: '\e804';
    color: #fff!important;
}
span.icon-cog-alt-img {
    display: block;
    float: left;
    background: url(/images/icon-list.png) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 23px;
    margin-top: -3px;
    margin-right: 5px;

}

.cke_toolbox span.cke_toolbar:nth-child(1),
.cke_toolbox span.cke_toolbar:nth-child(2),
.cke_toolbox span.cke_toolbar:nth-child(3),
.cke_toolbox span.cke_toolbar:nth-child(4),
.cke_toolbox span.cke_toolbar:nth-child(5),
.cke_toolbox span.cke_toolbar:nth-child(8),
.cke_toolbox span.cke_toolbar:nth-child(9),
.cke_toolbox span.cke_toolbar:nth-child(10),
.cke_toolbox span.cke_toolbar:nth-child(12),
.cke_toolbox span.cke_toolbar:nth-child(13),
.cke_toolbox span.cke_toolbar:nth-child(14){
    display: none!important;
}
