.userpanel_bg{
    background: #43464b;
    width: 270px;
    /*border-bottom: 1px solid #a2a5aa;*/
    padding: 12px;
}

.right_back_menu{
    width: 255px;
    vertical-align: top;
    padding: 8px 0px 8px 0px;
}

.right_back_menu_index, .right_back_menu_index_set{
    height: 100px;
    vertical-align: top;
    padding: 8px 0px 8px 0px;
}

.right_back_menu_index_set{
    width: 100%;
    padding-right: 20px;
    padding-left: 18px;
}

.news_back{
    padding: 8px 10px 0px 8px;
    color: #717171;
    border-bottom: 1px #c7c7c7 solid;
}

.right_panel_conf, .right_panel_conf_index{
    background: white;
    border: 1px #c7c7c7 solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}

.right_panel_conf_index{
    min-width: 415px;
}

.news_text{
    overflow: hidden;
    padding-left: 5px;
}

.undtexttime {
    font-size: 13px;color: #a09f97;
}

.menu_rt{
    height: 16px;
    background: #F9F8F8;
    color: #717171;
    padding: 12px 10px 12px 15px;
    font-weight: bold;
    border-bottom: 1px #c7c7c7 solid;
}

.menu_rt_index{
    background: #F9F8F8;
    color: #717171;
    padding: 8px 10px 6px 15px;
    font-weight: bold;
    border-bottom: 1px #c7c7c7 solid;
}

.headavatar{
    width: 79px;
    padding-left: 15px;
}

.headavatar img{
    height: 35px;
    border: 2px white solid;
    border-radius: 50px;
}

a.username{
    color: white;
    font-size:15px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    padding-bottom: 6px;
}

a.usercab{
    color: white;
    position: relative;
    bottom: 2px;
}

input[type="submit"].exit_button{
    position: relative;
    bottom: 2px;
    border-radius: 0;
    background: none;
    border: 0px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

input[type="submit"].exit_button:hover {
    text-decoration: underline;
}

.elmenu a{
    cursor: pointer;
    display: block;
    padding: 8px 10px 8px 15px;
    color: #717171;
    border-bottom: 1px #c7c7c7 solid;
}

.elmenu a:hover{
    text-decoration: none;
    background: #fdfdfd;
}

.down_rmenu{
    height: 15px;
    background: #f9f8f8;
}


a.urlbutton_index, .urlbutton_index {
    padding: 6px 13px 6px 13px;
    background: #ff9b24;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
}

a.urlbutton_index:hover, .urlbutton_index:hover {
    cursor: pointer;
    background: #feab2e;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
    text-decoration: none;
}
a.urlbutton_index--green {
    padding: 6px 13px 6px 13px;
    background: #127e28;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
}

a.urlbutton_index--green:hover {
    cursor: pointer;
    background: #36bb2c;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
    text-decoration: none;
}

a.button, button.button {
    padding:4px 12px;
    background: #ff9b24;
    border-radius:4px;
    color:#fff;
    border-right: rgba(253, 255, 253, 0.32) 1px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 1px solid;
}
button.button {
    padding:7px 12px;
}
a.button:hover, button.button:hover {
    cursor: pointer;
    background: #feab2e;
    text-decoration:none;
    border-right: rgba(253, 255, 253, 0.49) 1px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 1px solid;
}

.aright{
    position:absolute;
    right:20px;
    bottom:4px;
}

.aright1{
    position:absolute;
    right:220px;
    bottom:4px;
}

.aright2{
    position:absolute;
    right:440px;
    bottom:4px;
}

.grback {
    background: url("../images/gr_back.png") repeat-x scroll center bottom transparent;
    height: 30px;
    margin-top: -32px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 2px;
}

.bs_index_table{
 margin-right: 0;
 margin-top: 0px;

}

.table_menu{
    position: relative;
    margin-left: 18px;
    height: 30px;
    border-top: #c7c7c7 1px solid;
    border-right: #c7c7c7 1px solid;
    border-left: #c7c7c7 1px solid;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}

.table_tab {
    height: 30px;
    background: #43464b;
}

.table_tab tr td {
    color: #d8d9dd;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    width: 150px;
    border-right: 1px solid #ababab;
}

.no_tab_right{
    border-right: 0 !important;
}

.table_tab tr td span {
    color: #d8d9dd;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.table_tab tr td span.active_tab {
    color: #52565c;
    background: white;
    text-decoration: none;
    display: block;
    line-height: 32px;
    padding-bottom: 7px;
    margin-bottom: -9px;
}



.table_tab tr td span:hover {
    cursor: pointer;
    background: #52565c;
    color: #e8e9ed;
}

.table_tab tr td span.active_tab:hover {
    cursor: auto;
    background: white;
    color: #52565c;
}

.icon-star:before {
    color: #FF9B24 !important;
}

div.all_sup{
    border: 0px ;
}

table.supp_table{
}

table.supp_table tr.headt td{
    background: #43464b;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    font-size: 13px;
    border-bottom: 1px solid #d9d8d8;
}

table.supp_table tr.linet{
    border-top: 1px solid white;
    background: white;
    border-bottom: 1px solid #d9d8d8;
}

table.supp_table tr.linet td{
    vertical-align: middle !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

table.supp_table tr.linet:hover{
    background: #f8f8f8;
    cursor: pointer;
}

table.supp_table tr.linet_bot{
    height: 4px;
}

td.firstt{
    text-align: center;
}

.main_tlink a{
    font-size: 13px;
}

.cnt_round
{
   display: inline-block;
    background: red;
    height: 14px;
    min-width: 14px;
    line-height: 14px;
    border-radius: 10px;

    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 2px 1px 0px;
}

.data_table{
    margin: 0 0 16px 0;
}

.data_table tr th, .data_table tr th.sort_down, .data_table tr th.sort_up, .data_table tr th.no_sort{
    background-color: #ebebeb;
    border: 1px solid #d1d1d1;
    font-weight: normal;
    font-size: 12px;
    color: #676767;
    padding: 4px 4px 20px 4px;
    background-image: url(../images/table/bg.png);
    background-repeat: no-repeat;
    background-position: center 45px;
}

.head_table tr th{
    background-color: #ebebeb;
    border: 1px solid #d1d1d1;
    font-weight: normal;
    font-size: 12px;
    color: #676767;
    padding: 4px 16px 4px 3px;
    background-image: url(../images/table/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.data_table tr th:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.data_table tr th.sort_down{
    background-image: url(../images/table/desc.png);
    background-repeat: no-repeat;
    background-position: center 50px;
}

.data_table tr th.sort_up{
    background-image: url(../images/table/asc.png);
    background-repeat: no-repeat;
    background-position: center 50px;
}

.data_table tr th.no_sort{
    background-image: none;
    padding: 4px 4px 4px 3px;
}

.data_table tr td{
    color: #4d4d4d;
    border: 1px solid #e1e1e1;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 7px;
}

.data_table tr.data_line:hover{
    background: #f8f8f8;
}

.data_table tr.data_line.updated {
    background:#fcf3e8;
}
.data_table tr.data_line.new {
    background:#e8fae8;
}

.data_table tr th.no_sort:hover {
    cursor: default;
    background: #ebebeb;
}

.namelink{
    color:black;
    text-decoration:underline
}

#floatTip {

    position: absolute;
    width: 193px!important;
    display: block;
    z-index:9999;
    font-size: 9pt;
    color: #333;
	padding:10px;
	display:none;
	border: 1px solid #9c9c9c;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.50);
    background: white;


}


#floatTip::before, #floatTip::after {
     content: '';
    position: absolute;
    left: 82px; bottom: -19px;
    border: 10px solid transparent;
    border-top: 10px solid #9c9c9c;
}
#floatTip::after {
   border-top: 10px solid white;
    bottom: -18px;
}
#floatTip2 {
    position: absolute;
    width: 193px;
    display: none;
    top:-250px;
    z-index:9999;
    margin-left:-90px;
    font-size: 9pt;
    color: #333;
}

#TipContainer2{
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.50);
    background: white;
    padding: 5px;
}

#TipContainer2::before, #TipContainer2::after {
    content: '';
    position: absolute;
    left: 82px; bottom: -19px;
    border: 10px solid transparent;
    border-top: 10px solid #9c9c9c;
}
#TipContainer2::after {
    border-top: 10px solid white;
    bottom: -18px;
}

#floatTip2 .close_btn {
    background: url("../images/close_btn.png");
    height: 12px;
	width: 12px;
    position: relative;
	top: 5px;
	right: 0;
	cursor: pointer;
}

.news_back table td {
   border-right: 1px solid #e9e9e9;
   width: 25%;
   padding: 0 10px;
}

.news_back table td table.nomarginnews td{
    width: auto;
    border: 0;
    font-size: 13px;
    padding: 0 0 0 4px;
}

.news_back table td input[type="text"]{
    padding: 2px 5px 2px 5px;
    width: 80%;
    margin: 5px 7px 5px 3px;
}

.news_back table td input[type="checkbox"], .news_back table td input[type="radio"]{
    margin: 4px 3px 3px 3px;
    position: relative;
    bottom: -2px;
}
.news_back table td label{
    font-size: 13px;
}

.news_back table td input[type="radio"]{
    margin: 1px 3px 1px 3px;
}

.news_back table td label:hover, .news_back table td input[type="checkbox"]:hover{
    cursor: pointer;
}

.news_back table td hr, .super_hr{
    border: 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    height: 0;
    margin: 8px 0 8px 0;
}


.news_back_hr{
    border: 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    height: 0;
    margin: 8px 0 2px 0;
}

.button_no_top_index{
    margin-top: 4px !important;
    padding: 3px 9px 3px 9px !important;
    text-align: center;
    min-width: 70px;
}

.news_button_cont, .set_button_cont{
    text-align: right;
}

.change_block_set
{
    color: #dd8b00;
    font-size: 13px;
}

.change_block_set:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.action_span
{
    color: #dd8b00;
}

.action_span:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.reg_delimiter{
    border: 0;
    border-top: 1px solid #e9e9e9;
    height: 0;
    margin: 4px 0 4px 0;
}

.main_pop_body b{
    color: #8f8f8f;
}

.news_cont h2{
    display: inline-block;
    margin: 6px 7px 6px -1px;
}
.news_cont a h2:hover{
text-decoration: underline;
}
.news_cont hr{
    margin: 8px 7px 8px -1px;
}

.contfin_forms_delimiter{
    border-bottom: 1px solid #E4E4E4;
    height: 20px;
    background: #f6f6f6;
}

.addtext{
    display: block;
    margin-left: 9px;
    font-size: 13px;
    line-height: 16px;

}

.lottable tr td
{
    padding: 6px;
}

.icon_to_click_fav {
    color: #ee9400;
}

.link_compl {
    color: #ee9400;
}
.icon_compl {
    width: 14px;
    height: 14px;
    background: url("../images/attention.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    padding-left: 18px;
    background-position: left 2px;
}

.icon_to_click_fav:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon_to_click_hide {
    color: #ee9400;
}

.icon_to_click_hide:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon_to_click_complaint {
    color: #ee9400;
}

.icon_to_click_complaint:hover {
    text-decoration: underline;
    cursor: pointer;
}

.show_span{
    color: #8f8f92;
    display: block;
    border-top: 1px dotted #e8e8e8;
    line-height: 13px;
    padding-left: 2px;
}
.show_span:hover{
     text-decoration: underline;
     cursor: pointer;
    color: #6b6b6e
 }

a.user_onl_bottom:hover{
    color: #d27600;
}

/*Страница оплаты*/

.tarbody{
    min-height: 60px;
    border: 1px solid #C7C7C7;
    background: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 5px 10px;
    margin: 14px 18px;
}

.tarhead{
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.costpt{
    display: block;
    font-weight: bold;
    color: #3da058;
    margin: 9px 5px 7px 3px;
}

.undertartext {
    margin: 0px 5px 4px 3px;
}

.button_div {
    padding-left: 2px;
}

/* ///////////////////////////// */

.pays_t tr td{
    padding: 2px;
}

.top-banner {
    width: 1%;
    min-width: 674px;
    height: 68px;
    padding: 0 10px;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
}
.prm_line_descr {
    padding: 15px 0;
    font: 13px 'PT Sans',Arial,Verdana,sans-serif;
}
.prm_line_descr span{
    color: #d27600;
    margin: 0 20px 0 5px;
}
.content_ad_block{
    position: relative;
    border: 1px solid #d27600;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}
.content_ad_oper{
    position: relative;
    overflow: auto;
}
.content_ad_mark{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ccc;
}
a.content_ad_btn{
    float: right;
    margin: 0;
    padding: 3px 9px !important;
}

.in_bookmark
{
    position: relative;
    top: 1px;
    background: #f7a52e;
    color: white;
    display: inline-block;
    border-radius: 2px;
    font: 89%/1.4545em Arial,sans-serif;
    padding: 2px 6px 2px 2px;
}

.in_bookmark:hover
{
    cursor: pointer;
    background: #dd8c2d;
}


.news_back_right{
    padding: 8px 10px 0px 8px;
}

.newsitem_table td{
    border: 0px;
    padding: 0px;
    vertical-align: top;
}

hr.hrnews{
    margin: 3px 5px 5px 30px;
}

.search_profile_area
{
    font-size: 13px;
    display: block;
    width: 200px;
    height: 27px;
    border: 1px solid #d3d3d3;
    padding: 0px 0px 0px 0px;
    background: #f8f8f8;
}

.search_profile_area:hover
{
    cursor: pointer;
    background: #f6f6f6;
}

.pfame
{
    display: block;
    float:left;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    padding-top: 3px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.new_s_profile:hover
{
    cursor: pointer;
}

.profiles_container
{
    font-size: 13px;
    display: none;
    width: 200px;
    z-index: 999;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    background: white;
    position: absolute;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.profiles_container div
{
   padding: 4px 10px 4px 10px;
   border-bottom: 1px solid #d3d3d3;
   width: 180px;
   white-space: nowrap;
   overflow: hidden;
   height: 20px;
}

.profiles_container div:hover
{
    cursor: pointer;
    background: #f7f7f7;
}

.icon_in_range
{
    display: block;
    float:left;
    width: 18px;
    height:24px;
    padding-top: 3px;
}

.cell_with_notify:hover
{
   cursor: help;
}


/*---------------*/
/*guyasyou styles*/
/*---------------*/
.lots_choice{
    margin-left: 20px;
}
.lots_choice a, .lots_choice span{
    margin-right: 1px;
    padding: 5px 10px;
    text-decoration: none;
    background: #43464b;
    border: 1px #43464b solid;
    color: #e8e9ed;
    display: block;
    float: left;
    text-align: center;
    font: 16px 'PT Sans',Arial,Verdana,sans-serif;
    line-height: 21px;
}
.lots_choice span{
    background: #fff;
    color: #52565c;
    cursor: default;
}
.lots_choice a:hover{
    background: #52565c;
    color: #fff;
}

/*---------------------------------*/
/*guyasyou's styles for search form*/

.clear-fix {
    clear: both;;
}

.container {
    width: 100%;
    max-width: 1325px;
}

.row {

}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.row .column{
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row .column.right {
    float: right;
    text-align: right;
}

form#search_form {
    display: block;
}

#search-form-wrapper, #bs_news_container {
    margin: 8px 0;
    color: #717171;;
}

#search-form-wrapper {
    /*width: 908px;*/
    width: 68%;
    padding-right: 20px;
    padding-left: 18px;
}

#search-form-wrapper input[type="text"], #search-form-wrapper input[type="text"] {
    padding: 2px 5px 2px 5px;
    width: 80%;
    margin: 5px 7px 5px 3px;
}

#search-form-wrapper input[type="checkbox"], #search-form-wrapper input[type="radio"] {
    margin: 4px 3px 3px 3px;
    position: relative;
    bottom: -2px;
}

#search-form-wrapper .search-field{
    padding: 8px 0;
}

#search-form-wrapper .search-field #svalname::-webkit-input-placeholder{
    color: #c4c4c4;
}
#search-form-wrapper .search-field #svalname::-moz-placeholder{
    color: #989898;
}
#search-form-wrapper .search-field #svalname:-moz-placeholder{
    color: #989898;
}
#search-form-wrapper .search-field #svalname:-ms-input-placeholder{
    color: #c4c4c4;
}
#search-form-wrapper .search-field #svalname::placeholder-shown{
    color: #c4c4c4;
}

#search-form-wrapper .search-field .examples,
#search-form-wrapper .search-field .help{
    margin: 3px 4px;
}

#search-form-wrapper .search-field .all-keywords-checkbox{
    display: none;
}

#search-form-wrapper .search-field .examples{
    color: #9c9c9c;
}

#search-form-wrapper .extend-fields-toggle-wrapper{

}

#search-form-wrapper .select-form-type{
    font-weight: normal;
    display: inline-block;
    margin-left: 6px;
}

#search-form-wrapper .select-form-type .active{
    font-weight: bold;
}

#search-form-wrapper #extend-fields{
    border-top: 1px solid #e9e9e9;
    padding: 8px 0;
    display: flex;
    align-items: stretch;
    display: none;
}

#search-form-wrapper #extend-fields .filed-group{
    padding: 0 10px;
    width: 33%;
    border-right: 1px solid #e9e9e9;
}

#search-form-wrapper #extend-fields.confiscated .filed-group{
    padding: 0 10px;
    width: 25%;
}

#search-form-wrapper #extend-fields.confiscated .filed-group select.search_type_style{
    width: 180px;
    margin-top: 5px;
    padding-top: 4px;
    text-align: center;
    height: 25px;
    color: #4a4a4a;
    font-size: 11px;
}

#search-form-wrapper #extend-fields .filed-group:first-child{
    padding-left: 0;
}

#search-form-wrapper #extend-fields .filed-group:last-child{
    padding-right: 0;
    border-right: none;
}

#search-form-wrapper #extend-fields .filed-group.first .row .column{
    width: 50%;
}

#search-form-wrapper #extend-fields .filed-group.first .row .column.fullwidth{
    width: 100%;
}

#search-form-wrapper #extend-fields .filed-group.column_1 hr.custom-margin-bottom{
    margin-bottom: 30px;
}

#search-form-wrapper #extend-fields .filed-group.column_2 hr.custom-margin-bottom{
    margin-bottom: 24px;
}

#search-form-wrapper #extend-fields .filed-group.column_2 a.date_toggle_link{

}

#search-form-wrapper #extend-fields .filed-group.column_2 a.date_toggle_link.active{
    font-weight: bold;
    //color: inherit;
    text-decoration: none;
    cursor: default;
}

#search-form-wrapper #extend-fields .filed-group .data-fields label{
    width: 32px;
    display: inline-block;
}

#search-form-wrapper #extend-fields .filed-group .data-fields input.date-input{
    width: 180px;
}

#search-form-wrapper #extend-fields .filed-group .data-fields .jdpicker_w{
    display: inline-block;
}

#search-form-wrapper #extend-fields .filed-group .data-fields .jdpicker_w input{
    width: 180px;
}

#search-form-wrapper #extend-fields.confiscated .filed-group .data-fields input.date-input{
    width: 130px;
}

#search-form-wrapper #extend-fields.confiscated .filed-group .data-fields .jdpicker_w input{
    width: 110px;
}

#search-form-wrapper #extend-fields .filed-group input.days{
    width: 50px;
}

#search-form-wrapper .panel-box-footer .left .search_profile_area{
    float: left;
}

#search-form-wrapper .panel-box-footer .left .urlbutton_index--green{
    margin-left: 20px;
}

#search-form-wrapper .panel-box-footer .left .new_s_profile, #search-form-wrapper .panel-box-footer .left .q_search_link{
    vertical-align: sub;
}

#search-form-wrapper .panel-box-footer .right #clear_set_table{
    background: none;
    color: #717171;
    border: #a7a8a9 1px solid;
    text-shadow: none;
    margin-top: 5px !important;
}

#search_form #search-form-wrapper .panel-box-footer .right #clear_set_table:hover,
#search-form-wrapper .panel-box-footer .right #clear_set_table:active{
    background: #f1f1f1;
}

#search-form-wrapper .panel-box-footer .right .search_type_style{
    padding-top: 4px;
    text-align: center;
    width: 130px;
    height: 28px;
    color: #4a4a4a;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}

.panel-box-footer .btn{
    margin: 0;
    vertical-align: top;
}

#bs_news_container {
    width: 32%;
}

#bs_news_container .panel-box .panel-box-body {
    overflow: hidden;
}

#bs_news_container .panel-box .panel-box-footer {
    text-align: right;
}

.panel-box {
    background: white;
    border: 1px #c7c7c7 solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.panel-box .grback{
    background: url("../images/gr_back.png") repeat-x scroll center bottom transparent;
    height: 30px;
    margin-top: -30px;
    position: relative;
    margin-bottom: 0;
    border: none;
}

.panel-box .panel-box-header{
    background: #F9F8F8;
    color: #717171;
    padding: 8px 10px;
    font-weight: bold;
    border-bottom: 1px #c7c7c7 solid;
}

.panel-box .panel-box-body{
    padding: 8px 10px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}

.panel-box .panel-box-body #regions-and-platform {
    padding: 2px 0 8px;
    border-bottom: 1px solid #e9e9e9;
}


.panel-box .panel-box-footer{
    padding: 8px 10px;
    border-top: 1px solid #e9e9e9;
}