.note-cont {
  display: none;
}
.note-cont tr textarea {
  background: none;
  height: 20px;
  border: none;
  resize: none;
}
.note-cont tr .button {
  display: none;
}
.note-cont tr.note-save-active textarea {
  border: 1px solid #ebebeb;
  resize: vertical;
}
.note-cont tr.note-save-active .button {
  display: block;
}
[in-fav=on] .note-cont {
  display: block;
}
.photo-cont {
  position: relative;
  overflow: auto;
}
.photo-cont a {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}
.photo-cont a img {
  height: 60px;
}
.price-schedule {
  padding: 0 !important;
}
.price-schedule tr.ps-prev,
.price-schedule tr.ps-next {
  color: #999;
}
.price-schedule tr.ps-prev [class*="icon-"]:before,
.price-schedule tr.ps-next [class*="icon-"]:before {
  color: #999;
}
.price-schedule[actual] tr.ps-prev,
.price-schedule[actual] tr.ps-next {
  display: none;
}
.price-schedule[actual] div.ps-oper {
  display: block;
  clear: both;
  cursor: pointer;
  color: #ee9400;
  user-select: none;
  padding-left: 10px;
}
.contact_wrapper {
  position: absolute;
  right: 0;
  overflow: auto;
}
.ico_phone,
.ico_email {
  margin: 5px 5px 0 0;
  height: 20px;
  width: 20px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.ico_phone {
  background-image: url("/themes/web/default/images/phone-link.png");
}
.ico_email {
  background-image: url("/themes/web/default/images/email-link.png");
}
.button_wrapper {
  float: left;
  text-align: right;
  margin-right: 10px;
  padding: 0 7px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.button_wrapper a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.phone_button {
  background: rgba(71,184,11,0.75);
}
.phone_button:hover {
  background: #47b80b;
}
.email_button {
  background: rgba(184,147,110,0.75);
}
.email_button:hover {
  background: #b8936e;
}
.msg-cont {
  padding: 6px 0 !important;
}
.msg-cont table tr td {
  padding: 0 6px !important;
}
.msg-cont table tr td:first-child {
  color: #666;
}
.msg-cont table tr.prior a {
  color: #f33;
}
