.message
{
position:absolute;
padding:10px;
max-width:200px;
word-break:break-all;
opacity:0;
background:rgb(230,230,230);
border:1px solid rgb(160,160,160);
border-radius: 8px;
-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.messtext{}
