.refer-table
  table-layout fixed
  width 100%
  tr
    border 1px solid #ccc
    th
      line-height 40px
      border 1px solid #ccc
    td
      width 2%
      line-height 30px
      text-align right
      padding 0 5px
      border 1px solid #ccc
      &.user
        text-align left
        padding-left 15px
.rub:after
  content " ₽"
