@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}










a {
    text-decoration: none;
    color: #d27600;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 0px
}

body {
    padding: 0;
    margin: 0;
    background: #d3d3d3;
}

.all_content {
    padding: 0px;
    background: #d3d3d3;
    word-wrap: break-word;
    max-width: 1350px;
    margin: 0px auto;
    min-width: 980px;
}

div.all_shadow {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

div.body {
    background: white;
}

/* --- Общее ----*/
.prehead {
    background: white;
    height: 63px;
}

.prehead img {
    display: block;
    height: 43px;
}

.allhead {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 0;
}

.under {
    color: gray;
}

.headmenu {
    
    /*border-top: #d2d2d2 1px solid;*/
}

.und_head_cont{
    /*border-bottom: 1px #c3c3c3 solid;*/
}

.topbutton {
    height: 30px;
    background: #f4f4f4;
    border:none;
    position: relative;
    z-index: 9999;
}

.topbutton tr td {
    color: #838488;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    width: 150px;
    border: 1px solid #d2d2d2;
}

.topbutton tr td a {
    color: #747474;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.topbutton tr td a:hover {
    background: #f9f8f8;
    color: #717171;
}

.topbutton tr td.topbfin {
    width: 100%;
    border-right: 0;
    background: none;
    min-width: 15px;
}

.topbutton tr td a:hover ~ ul.subnav{
    display: block;
}

.topbutton ul.subnav {
    list-style: none;
    width: 147px;
    display: none;
    position: absolute;
    top: 30px;
    z-index: 999;
    background: #f4f4f4;
}

ul.subnav:hover{
    display: block;
}

ul.subnav li{
    border-bottom: #eee solid 1px;
}

td.main {
    padding: 15px 20px 10px 5px;
    word-wrap: break-word;
    max-width: 100px;
    background: #eeeeee;
    position:relative;
}

.prebottom {
    background: #333333;
    height: 44px;
    padding-left: 5px;
    border-top: #383838 solid 1px;
    border-bottom: #444444 solid 1px;
}

.bottom {
    color: #868686;
    padding: 1px 8px;
    font-size: 12px;
    text-align: center;
    border-top: #262626 solid 2px;
    background: #232323;
}

.keytitle {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-left: 15px;
}

.keytitle hr {
    margin-bottom: 5px;
}

.keyund {
    font-size: 13px;
    color: #bbbbbb;
    font-weight: normal;
}

/* ---  ---*/
table.fcontent {
    border-collapse: collapse;
}

.fcontent tr td {
    border: 1px solid #f6f6f6;
    border-top: 0px;
    padding: 7px;
    text-align: center;
    font-size: 13px;
    color: #6a6a6a;
}

tr.undhead td {
    background: #f5f5f5;
    color: #888888;
    padding: 7px;
    border: 1px solid #e4e4e4;
    border-top: 0px;
    font-size: 12px;
    text-align: center;
}

td.frazdicon {
    padding: 0px;
}

.fcontent tr td b {
    font-size: 16px;
}

sup.newitem {
    color: red;
    font-weight: bold;
}

.newred {
    color: red !important;
}
.messred {
    color: gray;
    font-size: 12px;
    font-style: italic;
    margin-top: 8px;
    display: block;
}

.cont_act {
    width: 1%;
    padding-left: 3px;
}

.formlink {
    opacity: 0.4;

}

.formlink:hover {
    opacity: 0.8;
}

.cont_act a:hover img {
    opacity: 0.8;
}

span.us_on {
    color: green;
    font-size: 13px;
    font-weight: bold;
}

span.us_off {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.inmessage {
    margin-top: 5px;
    padding: 8px 8px 8px 8px;
}

a.inlink .inmessage {
    background: #f5f5f5;
    border: #e8e8e8 solid 1px;
    font-size: 12px;
}

a.inlink .inmessage:hover {
    background: #f1f1f1;
}

a.inlink:hover {
    text-decoration: none;
}

td .av_rights {
    text-align: center;
    font-size: small;
    color: darkOrange;
}

.content, .warning, .error {
    background: #ffffff;
    color: #262626;
    margin: 8px 18px 8px 18px;
    border: 1px #c7c7c7 solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}

.simple_mess {
    background: #ffffff;
    color: #262626;
    margin: 8px 18px 8px 18px;
    border: 1px #c7c7c7 solid;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
    padding: 20px 30px 20px 30px;
}

.warning, .error {
    border: #fd9f9f solid 1px;
    background: #fedddd url(../images/error.png) no-repeat;
    background-position: 8px 15px;
    padding: 15px 15px 15px 30px;
}

.warning {
    border: #78ca7c solid 1px;
    background: #d3fed5 no-repeat;
    background-position: 8px 15px;
}

img.albim {
    width: 80%;
    border: 1px solid #939393;
    display: block;
}

.content h2 {
    color: #262626;
    font-size: 18px;
}

.conthead, .conthead_forms {
    padding: 10px 10px 10px 17px;
    border-bottom: #c7c7c7 solid 1px;
    background: #F9F8F8;
    position:relative;
}

.conthead_forms {
    padding: 8px 20px 8px 20px;
}

.conthead b a {
    color: black;
}

img.avatar {
    border-radius: 40px;
    border: 1px solid;
    border-color: #aaa;
    width: 40px;
    height: 40px;
}

.time {
    padding-right: 35px;
    color: #aaa;
    font-size: 13px;
    white-space: nowrap;
}

.timetd {
    padding-right: 5px;
    color: #aaa;
    font-size: 13px;
    white-space: nowrap;
    text-align: right;
}

.conthead td {
    font-size: 13px;
}

.conthead td b {
    font-weight: bold;
    font-size: 18px;
}

.conthead h2 {
    margin: 0px 3px 0px 3px;
    line-height: 20px;
    font-size: 21px;
    display:table-cell;
    width:100%;
}

.conthead a.edit {
   display:table-cell;
}

.contbody {
    padding: 8px;
    border-bottom: #e4e4e4 solid 1px;
    position:relative;
}

.contbody_forms {
    position:relative;
    padding: 8px 20px 8px 20px;
    border-bottom: #e4e4e4 solid 1px;
}

.contbody_forms_link {
    display: inline-block;
}

.contbody_forms_link a{
    color:#fff;
    display: block;
    padding: 10px;
    background: #ff9b24;
    border-radius: 6px;
    text-decoration: none;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    font: 14px 'PT Sans',Arial,Verdana,sans-serif;
    font-weight: bold;
}

.contbody_forms_link a:hover{
    color:#fff;
    display: block;
    padding: 10px;
    background: #feab2e;
    border-radius: 6px;
    text-decoration: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
}

.contbodytext, .contbodytext_cut {
    padding: 10px 55px 10px 55px;
    white-space: normal;
    word-wrap: break-word;
    line-height: 160%;
    border-bottom: #e4e4e4 solid 1px;
}

.contbodytext_cut {
    max-height: 350px;
    min-height: 10px;
    overflow: hidden;
}

.grback {
    background: url(../images/gr_back.png) bottom repeat-x;
    height: 30px;
    margin-top: -31px;
    position: relative;
}

.newcommentlower {
    border-bottom: #e4e4e4 solid 1px;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 13px 9px 13px;
}

.contbody_und {
    border-bottom: #e4e4e4 solid 1px;
    padding: 13px;
}

.contbody_und td.tmesscont {
    max-width: 5px;
    word-wrap: break-word;
    line-height: 140%;
}

.contln {
    padding: 8px;
    border-bottom: #e4e4e4 solid 1px;
}

.contmenu a span {
    color: red;
}

.contmenu a img {
    margin: -15px 8px -15px 0px;
}

.contmenu a {
    display: block;
    padding: 15px 15px 15px 15px;
    border-bottom: #e4e4e4 solid 1px;
}

a.contmenu_f {
    border-radius: 2px 2px 0px 0px;
}

a.contmenu_l {
    border-radius: 0px 0px 2px 2px;
    border-bottom: 0px;
}

.contmenu a:hover {
    background: #f5f5f5;
    text-decoration: none;
    color: black;
}

.contfin, .contfin_forms, .contfintext {
    padding: 0px 8px 0px 8px;
    font-size: 14px;
    background: #F9F8F8;
}

.contfin_forms, .contfintext {
    padding: 0px 20px 0px 20px;
    font-size: 14px;
    white-space: nowrap;
}

.contfintext td {
    font-size: 13px;
    padding: 0px 5px 0px 5px;
}

.contfintext a {
    color: #646464;
}

.forum_ots {
    margin-left: 15px;
}

.contfintext img {
    border-radius: 0px;
}

div.commtext {
    word-wrap: break-word;
    width: 94%;
}

table.contbutton td, table.contbutton td.conlast {
    height: 32px;
    white-space: nowrap;
    padding: 0 4px 0 4px;
    border-right: #e4e4e4 solid 0px;
    font-size: 13px;
    width: 120px;
    text-align: center;
    background: white;
    color: #646464;
}

.nowselpun, .nowselpun_gray {
    border-bottom: 4px solid;
    border-color: #1a80b5;
    height: 21px;
    margin: 0px -3px 0px -3px;
    padding: 7px 4px 0px 4px;
}

.nowselpun_gray{
    border-bottom: 4px solid;
    border-color: #bdbdbd !important;
}

.nowselpun_gray:hover{
    border-bottom: 4px solid;
    border-color: #c7c7c7 !important;
}

table.contbutton td.conlast {
    border-right: 0px;
}

table.contbutton td a {
    white-space: nowrap;
    color: #646464;
    display: block;
    font-weight: normal;
    background: white;
    border-bottom: 4px solid;
    border-color: white;
    height: 20px;
    line-height: 16px;
    margin: 0px -3px 0px -3px;
    padding: 8px 4px 0px 4px;
}

table.contbutton td a:hover {
    text-decoration: none;

}

table.contbutton td.contbfin {
    border: 0px;
    background: white;
    width: 0%;
    padding: 0px;
}

/*------- Поля для форм ---------------*/

textarea {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    margin: 0px;
    margin-left: -8px;
    margin-right: -8px;
    border: 1px solid #868686;
    background: url(../images/input_text.png) repeat-x #F9F8F8;
}

div.texta {
    margin: 0px 11px 0 8px;
}

table.tags_pan td {
    text-align: center;
    border-right: 1px solid #747474;
    height: 25px;
    min-width: 25px;
}

table.tags_pan td a {
    display: block;
    line-height: 25px;
}

table.tags_pan td a img {
    vertical-align: middle;
}

table.tags_pan td a:hover {
    background: #767676;
}

.hr-with-title {
    margin: 8px 0 12px;
    height: 1px;
    background-color: #e2e2e2;
    text-align: left;
    line-height: 2px;
}
.hr-with-title span {
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: -1px;
    height: 4px;
    padding: 0 6px;
    margin-left: 14px;
    color: #7f7f7f;
}
.oper-container{
    font-size: 14px;
    color: #646464;
    background: #f9f8f8;
    padding: 0 20px;
    white-space: nowrap;
    text-align: center;
}
.oper-container[auth]{
    background: #fff;
    padding: 12px 12px 4px;
    text-align: left;
}
.oper-container>div{
    display: inline-block;
    margin: 8px;
    padding: 6px 13px;
    color: white;
    background: #ff9b24;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
}
.oper-container>div:hover {
    cursor: pointer;
    background: #feab2e;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
}
.oper-a {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #d27600;
    cursor: pointer;
}
.oper-a:hover{
    color: #f00;
    text-decoration: none;
}
.prm-cont span{
    font-weight: bold;
}
.ch_profile_menu{
    white-space: nowrap;
}
.ch_profile_menu td{
    border: 0 !important;
}

input[type="button"] {
    padding: 6px 13px 6px 13px;
    background: #ff9b24;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 3px 0px 8px 0px;
}

input[type="button"]:hover {
    cursor: pointer;
    background: #feab2e;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
    text-decoration: none;
}

input[type="submit"], a.urlbutton, a.urlbutton_stat, .butt_like_area, input[type="submit"].button_noright, input[type="submit"].button_noleft {
    padding: 6px 13px 6px 13px;
    background: #ff9b24;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 8px 0px 8px 0px;
}

input[type="submit"].button_noright {
    border-radius: 6px 0 0 6px;
    border-right: 1px white solid;
}

input[type="submit"].button_noleft {
    border-radius: 0 6px 6px 0;
}

a.urlbutton, a.urlbutton_stat {
    display: inline-block;
    margin: 8px;
}

.mod_url{
    margin: 8px 0px 8px 0px !important;
}

a.urlbutton_stat {
    display: inline-block;
    margin-left: 30px;
}

input[type="submit"]:hover, a.urlbutton:hover, a.urlbutton_stat:hover {
    cursor: pointer;
    background: #feab2e;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
    text-decoration: none;
}

input[type="submit"].button_noright:hover {
    border-right: 1px white solid;
}

input[type="text"], select, input[type="password"], input[type="file"], select {
    border: 1px solid #a8a8a8;
    background: url(../images/input_text.png) repeat-x #F9F8F8;
    vertical-align: middle;
    margin: 4px 0px 5px 0px;
    width: 250px;
    font-size: 14px;
    padding: 6px 9px 7px 9px;
    border-radius: 2px;
    display: inline-block;
    height: 18px;
}

input[name=keywords], input[name=description], input[name=subject] {
    width:98%;
}

select {
    width: 260px;
    padding: 5px 9px 6px 9px;
    height: auto;
}

select:hover {
    cursor: pointer;
}

input[type="file"] {
    margin-bottom: 5px;
    height: 21px;
    padding: 5px 9px 5px 9px;
}

.rig_reg input[type="text"], .rig_reg input[type="password"] {
    margin: 2px 0px 8px 2px;
    width: 90%;
}

/*------- Навигация ---------------*/

.und_code {
    border: 1px dotted #999;
    border-top: 0px;
    font-size: 9pt;
    padding: 1px 3px 1px 3px;
    background: #e0e6e9;
}

.tops {
    background: url(../images/plus.png) #f8f8f8 no-repeat left;
    border: 1px solid #d9d8d8;
    padding: 3pt 3pt 3pt 11pt;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tops2 {
    background: url(../images/min.png) #f8f8f8 no-repeat left;
    border: 1px solid #d9d8d8;
    padding: 3pt 3pt 3pt 11pt;
    display: block;
    margin-top: 8px;
}

.spoiler {
    border: 1px solid #d9d8d8;
    border-top: 0px;
    padding: 2pt;
    display: block;
    margin-bottom: 8px;
}

.quote {
    border: 1px solid #c0c0c0;
    color: #878787;
    margin: 8px 0px 8px 0px;
    padding: 3px;
    background-color: #FEF1CD;
    display: block;
}

table.tags_pan td {
    text-align: center;
    border-right: 1px solid #747474;
    height: 30px;
    min-width: 30px;
}

table.tags_pan td a {
    display: block;
    line-height: 30px;
}

table.tags_pan td a img {
    vertical-align: middle;
}

table.tags_pan td a:hover {
    background: #767676;
}

/*------- Навигация ---------------*/

.navig {
    background: #ffffff;
    color: #262626;
    margin: 8px 16px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px #c7c7c7 solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}

a.navpg, span.navpg {
    font-size: 13px;
    font-weight: bold;
    border: #c8c8c8 solid 1px;
    padding: 6px 13px 6px 13px;
    background: #f5f5f5;
    text-decoration: none;
    color: #444444;
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
    border-radius: 2px;
}

a.navpg:hover, span.navpg:hover {
    background: #e6e6e6;
    cursor: pointer;
}

.navselect {
    font-size: 13px;
    width: auto;
    border: #c8c8c8 solid 1px;
    margin: 0px 5px 0px 5px;
    line-height: 0px;
    color: black;
    background: #f5f5f5;
    cursor: pointer;
    padding: 4px 4px 6px 20px;
    border-radius: 2px;
}

span.navpgin {
    font-size: 13px;
    font-weight: bold;
    border: #c8c8c8 solid 1px;
    padding: 6px 13px 6px 13px;
    background: #e3e3e3;
    text-decoration: none;
    color: #747474;
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
    border-radius: 2px;
}

hr.intext {
    border: 0;
    border-top: 1px dotted #999;
    text-align: center;
    height: 0;
    margin: 3pt 1pt 3pt 1pt;
}

div.mainundall {
    border-bottom: 1px solid #171717;
}

.albpunct {
    text-align: center;
    padding: 5px;
}

.av_td {
    width: 70px;
}

.av_td img {
    padding: 5px;
    width: 60px;
    height: 60px;
}

.sbutton {
    margin-left: 3px;
    background: #333333;
    padding: 1px 3px 1px 3px;
    border-radius: 6px;
    border: 1px solid #616161;
}

h2 {
    margin: 3px;
    font-size: 20px;
}

h3 {
    margin: 3px;
    font-size: 15px;
}

hr {
    border: 0;
    border-top: 1px dotted #d8d8d8;
    text-align: center;
    height: 0;
    margin: 1px;
}

img.logo {
    padding: 10px;
}

/* ///////////////////////////////////////////////////////////////////*/

.popup_overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 10000;
}

.popup_overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}

.popup_table {
    border: 1px solid #C7C7C7;
    background: white;
    display: inline-block;
    position: relative;
    width: 650px;
    vertical-align: middle;
}


.close_modal_img_editlot {
    display: block;
    height: 0;
    position: relative;
    top: 2px;
    right: 8px;
    text-align: right;
    z-index: 3;
}


.close_modal_img_editlot span:hover {
    cursor: pointer;
}


.close_modal_img {
    display: block;
    height: 0;
    position: relative;
    top: -6px;
    right: -10px;
    text-align: right;
}

.close_modal_img span:hover {
    cursor: pointer;
}

.main_pop_head{
    padding: 8px;
    background-color: #F9F8F8;
    border-bottom: 1px solid #C7C7C7;
    font-weight: bold;
    font-size: 15px;
}

.main_pop_body{
    border-bottom: 1px solid #C7C7C7;
    padding: 9px 20px;
    max-height: 350px;
    overflow: auto;
    text-align: left;
}

.main_pop_body input[type="checkbox"]{
    margin-right: 5px;
    position: relative;
    bottom: -2px;
}

.main_pop_body label:hover{
    cursor:pointer;
}

/* ///////////////////////////////////////////////////////////////////*/

.alltopmess {
    text-align: center;
    position: fixed;
    width: 600px;
    max-width: 600px;
    padding: 10px 15px;
    left: 0;
    background: #ffefd2;
    border: 1px solid #ff9b24;
    color: #cd6a03;
    font-weight: bold;
    display: none;
    z-index: 999;
}

.loadmess {
    text-align: center;
    position: fixed;
    width: 200px;
    max-width: 120px;
    padding: 5px;
    bottom: 0px;
    background: #faf4d4;
    border: 1px solid #d0ad34;
    color: #3a3a3a;
    font-weight: bold;
    box-shadow: 0 0 14px rgba(130, 130, 130, 0.50);
    display: none;
    z-index: 999;
}

a.newcounter_front {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

a.newcounter_end {
    color: #1a80b5;
    font-weight: bold;
    font-size: 14px;
}

span.status {
    color: #FF8C00;
}

span.onmoder{
    color: red;
}

.art_moder_button{
    margin-left: 30px;
    margin-right: 10px;
}

.forum_nav{
    color: gray;
    font-size: 13px;
    display: block;
    margin-left: 30px;
}

.forum_nav a{
    color: gray !important;
}

.total_info{
padding: 10px 0px 10px 10px;
}

.cont_mess
{
    padding: 15px 20px 15px 35px;
}

.user_mark
{
    color: #797979;
}

.fa-line-chart {
    cursor:pointer;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px auto;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 3;
    color: #000;
    background-color: #c8c8c8;
    border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #000;
    background-color: #c8c8c8;
    border-color: #dddddd;
    cursor: default;
  
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #000;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.plus, .plus:hover {
    color:#00CC00;
}

.minus, .minus:hover {
    color:#FF0000;
}

.export {
    color:#ff9b24;
}

.export-block {
    padding: 8px 20px;
    display:none;
    border-top: 1px solid #e4e4e4;
}
.export-table {
    margin:10px 0;
    border-top: 1px solid #e4e4e4;
}
.export-table td{
    padding:5px 0;
    vertical-align:top;
}
.export-table input[type="checkbox"], .export-table input[type="radio"] {
    margin:0 5px;
    bottom: -2px;
    position:relative;
}
.export-table label {
    font-size:13px;
    display:block;
}
.export-table .group_input {
    text-align:right;
}
.export-table .group_input label {
    display:inline;
    margin-right:10px;
}

.export-table .all{
    vertical-align:bottom;
}
#note_window {
    position:absolute;
    top:50%;
    left:50%;
    display:none;
    width:300px;
    padding:10px;
    border:1px solid #ebebeb;
    background:#fff;
  
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    z-index:999999999;
    margin-left:-300px;
    
}
#note_window textarea {
    background:#fff;
    margin:0;
    box-sizing: border-box;
    width:100%;
    resize:none;
    padding:5px;
    margin-bottom:5px;
}
#note_window i {
    color:#dd8b00;
}

#note_window  .fa-floppy-o {
    margin-right:8px;
}

#note_window .fa-times {
    float:right;
    margin-top:3px;
}
#note_window i:hover {
    cursor:pointer;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    padding-bottom:2px;
}

#note {
    color:#ff9b24;
}
#note:hover {
    color: rgba(255, 155, 36, 0.76);
    cursor: pointer;
}

a.get_lot_price {
    text-align:center;
}

a.get_lot_price:hover {
    cursor:pointer;
}

.loading {
    display:block;
    margin: auto;
    background:url(/themes/web/default/images/loading.gif) center center no-repeat;
    height:20px;
    width:20px;
}

/* slider*/
.scroll-text {
  border: 1px solid red;
  width: 400px;
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
  width: 800px;
  height: 140px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-img {
//  border: 1px solid gray;
  max-width: 1003px;
  height: 120px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 5700px;
  /*height: 600px;*/
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

.scroll-img ul li img{
  width: 132px;
}
#demo4.scroll-img ul,
#demo5.scroll-img ul {
    width: 5700px;
  /*width: 100%;*/
}
#demo5-btn {
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.btn{
    padding: 5px;
    border-radius: 5px;
}
/* end slider*/









/*АДАПТИВ ЛЭНД И ТАРИФЫ*/

body {
  background: #fff;
  font-family: 'LatoRegular';
}
html {
  display: table;
  width: 100%;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper-center {
  width: 1160px;
  margin: 0 auto;
}
.center {
  text-align: center;
}

input[type="submit"].g-blue-button, input[type="submit"].g-green-button{
   width: 230px;
   border: none;
}

.g-blue-button, input[type="submit"].g-blue-button {
  font: 22px/70px 'LatoRegular';
  color: #fff;
  background: #086ca2;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 0 50px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.g-blue-button:hover, input[type="submit"].g-blue-button:hover {
    text-decoration: none;
    background: #379ad0;
    color: #fff;
}

.g-green-button, input[type="submit"].g-green-button {
  font: 22px/70px 'LatoRegular';
  color: #fff;
  background: #ff9b24;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 0 50px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.g-green-button:hover, input[type="submit"].g-green-button:hover {
    text-decoration: none;
    background: #feab2e;
    color: #fff;
}

.g-green-button.green{
  background: green;
}
.g-green-button.green:hover{
  background: #238a19;
}

header {
  padding: 22px 0 0 0;
  height: 60px;
}
header .logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
header .link-tariff {
  float: right;
  font: 18px/34px 'LatoRegular';
  color: #086ca2;
  background: #fff;
  border: 1px solid #086ca2;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  padding: 0 21px;
  margin: 0 0 0 15px;
}

.link-tariff:hover {
    background: #086ca2;
    color: #fff;
}


.b-top-screen {
  background: url("../images/top-screen.jpg") no-repeat 0 0;
  height: 541px;
  width: 100%;
  background-size: cover;
}
.b-top-screen .wrapper-center {
  width: 1105px;
}
.b-top-screen h1 {
  font: 58px 'LatoRegular';
  color: #ff7c00;
  padding: 89px 0 12px 0;
}
.b-top-screen h3 {
  font: 22px/31px 'LatoRegular';
  color: #000;
}
.b-top-screen .center {
  margin: 102px 0 0 0;
}
.b-capabilities {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 67px;
}
.b-capabilities .item-list {
  margin: 86px 0 0 0;
}
.b-capabilities .title {
  font: 37px/57px 'LatoRegular';
  color: #000;
  margin: 50px 0 28px 0;
}
.b-capabilities .subtitle {
  font: 20px 'LatoRegular';
  color: #000;
}
.b-capabilities .item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 24%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0 0 30px 0;
}
.b-capabilities .item .text {
  font: 17px/21px 'LatoRegular';
  color: #000;
  margin: 8px 0 0 0;
}
.b-capabilities .tariff {
  margin: 48px 0 0 0;
}
.b-video {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 67px;
}
.b-video .title {
  font: 37px/57px 'LatoRegular';
  color: #000;
  margin: 50px 0 58px 0;
}
.b-video .video {
  width: 1000px;
  height: 560px;
  margin: 0 auto;
  background: #000;
}
.b-video .g-blue-button {
  margin: 49px 0 0 0;
  font-size: 24px;
}
.b-popular {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 62px;
}
.b-popular .wrapper-center {
  width: 1270px;
}
.b-popular .title {
  font: 37px/57px 'LatoRegular';
  color: #000;
  margin: 47px 0 55px 0;
}
.b-popular .item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 33%;
  height: 141px;
  position: relative;
  margin-bottom: 20px;
}
.b-popular .item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 141px;
}
.b-popular .item .text {
  position: absolute;
  font: 24px 'LatoBold';
  color: #fff;
  margin: 31px auto;
  left: 0;
  right: 0;
}
.b-popular .desc {
  font: 41px 'LatoBold';
  color: #ff7c00;
  margin: 31px 0 0 0;
}
.our-tariffs .title {
  font: 37px/57px 'LatoRegular';
  color: #000;
  margin: 68px 0 53px 0;
}
.our-tariffs .t-tariffs {
  margin-bottom: 30px;
  background: #fff;
}
.our-tariffs .t-tariffs .head {
  background: #f7f7f7;
  text-align: center;
  font: 28px 'LatoRegular';
  color: #000;
  border: 1px solid #e4e4e4;
  padding: 12px 0 13px 0;
}
.our-tariffs .t-tariffs.second-table .table-price .price span,
.our-tariffs .t-tariffs.third-table .table-price .price span {
  color: #ff7c00;
}
.our-tariffs .t-tariffs.second-table .column-text p i,
.our-tariffs .t-tariffs.third-table .column-text p i {
  background: url("../images/form-orange.jpg") no-repeat 0 0;
}
.our-tariffs .t-tariffs.third-table .item {
  height: 300px;
}
.our-tariffs .t-tariffs.third-table .item .title {
  font: 25px 'LatoRegular';
  color: #000;
  margin: 31px 0 0px 0;
}
.our-tariffs .t-tariffs.third-table .item .price {
  margin: 13px 0 0 0;
}
.our-tariffs .t-tariffs.third-table .col {
  border-right: 1px solid #e4e4e4;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 20%;
  margin: 0 -4px 0 0;
  padding: 21px 19px 23px 34px;
  min-height: 245px;
}
.our-tariffs .t-tariffs.third-table .col p {
  line-height: 19px;
  text-align: center;
}
.our-tariffs .t-tariffs.third-table .col p i {
  margin: 1px 10px 0 0;
}
.our-tariffs .t-tariffs.third-table .col .plus {
  display: block;
  height: 16px;
  width: 16px;
  background: url("../images/plus.jpg") no-repeat 50% 50%;
  margin: 5px auto;
}
.our-tariffs .table-price .item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 20%;
  margin: 0 -5px 0 0;
  text-align: center;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  height: 300px;
  position: relative;
}
.our-tariffs .table-price .item:last-child {
  border-right: 1px solid #e4e4e4;
  margin-left: -2px;
}
.our-tariffs .table-price .price {
  font: 22px 'LatoRegular';
  color: #000;
  margin: 32px 0 0 0;
}
.our-tariffs .table-price .price span {
  color: #238a19;
  font: 50px 'LatoBold';
}
.our-tariffs .table-price .time {
  font: 25px 'LatoRegular';
  color: #000;
  margin: 6px 0 0 0;
}
.our-tariffs .table-price .sum {
  font: 19px 'LatoRegular';
  color: #808080;
  margin: -1px 0 24px 0;
}
.our-tariffs .table-price .g-blue-button, .our-tariffs .table-price input[type="submit"].g-blue-button {
  padding: 0 25px;
  line-height: 51px;
  position: absolute;
  bottom: 90px;
  margin: auto;
  width: 200px;
  font-size: 15px;
  left: 0;
  right: 0;
}
.our-tariffs .table-price .g-green-button, .our-tariffs .table-price input[type="submit"].g-green-button {
  padding: 0 25px;
  line-height: 51px;
  position: absolute;
  bottom: 25px;
  margin: auto;
  width: 200px;
  font-size: 15px;
  left: 0;
  right: 0;
}
.our-tariffs .column-text {
  border: 1px solid #e4e4e4;
  border-top: none;
}
.our-tariffs .column-text .col {
  width: 32%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px 20px 26px 49px;
}
.our-tariffs .column-text p {
  margin: 0;
  padding: 0;
  font: 17px/25px 'LatoRegular';
  color: #000;
}
.our-tariffs .column-text p i {
  background: url("../images/form.jpg") no-repeat 0 0;
  height: 14px;
  width: 18px;
  margin: 5px 10px 0 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.big-text {
  font: 40px/51px 'LatoBold';
  color: #238a19;
  padding: 34px 0 58px 0;
}

.big-text a{
  font: 40px/51px 'LatoBold';
  color: #238a19;
  padding: 34px 0 58px 0;
}

.big-text a:hover{
  font: 40px/51px 'LatoBold';
  color: #29a51d;
  padding: 34px 0 58px 0;
}

footer {
  border-top: 1px solid #e4e4e4;
  padding: 30px 0 5px 0;
  height: 60px;
}
footer .logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
footer .link-tariff {
  float: right;
  font: 18px/34px 'LatoRegular';
  color: #086ca2;
  background: #fff;
  border: 1px solid #086ca2;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  padding: 0 21px;
  margin: 0 0 0 15px;
}
@media screen and (max-width: 1600px) {
  .wrapper-center,
  .b-top-screen .wrapper-center,
  .b-popular .wrapper-center {
    width: 97%;
  }
  .our-tariffs .table-price .g-blue-button, .our-tariffs .table-price input[type="submit"].g-blue-button {
    padding: 0 15px;
    line-height: 42px;
  }
  .our-tariffs .table-price .g-green-button, .our-tariffs .table-price input[type="submit"].g-green-button {
    padding: 0 15px;
    line-height: 42px;
  }
}
@media screen and (max-width: 1240px) {
  .b-popular .item {
    width: 49%;
  }
}
@media screen and (max-width: 1026px) {
  .our-tariffs .table-price .g-blue-button {
    font-size: 12px;
    width: 120px !important;
  }
  .our-tariffs .table-price input[type="submit"].g-blue-button{
       font-size: 12px;
       width: 180px !important;
  }

  .our-tariffs .table-price .g-green-button {
    font-size: 12px;
    width: 120px !important;
  }
  .our-tariffs .table-price input[type="submit"].g-green-button{
      font-size: 12px;
       width: 180px !important;
  }

  .our-tariffs .table-price .item {
    height: 273px;
  }
  .our-tariffs .table-price .price span {
    font: 28px 'LatoBold';
  }
  iframe {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  html {
    display: block;
  }

  .g-blue-button {
    font: 18px/49px 'LatoRegular';
    padding: 0 23px;
   /* bottom: 40px !important;  */
  }
  .g-green-button {
    font: 18px/49px 'LatoRegular';
    padding: 0 23px;
    /*bottom: auto !important; */
  }
  .our-tariffs .table-price .g-blue-button, .our-tariffs .table-price input[type="submit"].g-blue-button {
    font-size: 12px;
    width: 120px;
  }
  .our-tariffs .table-price input[type="submit"].g-blue-button{
       bottom: 70px !important;
  }

  .our-tariffs .table-price .g-green-button, .our-tariffs .table-price input[type="submit"].g-green-button {
    font-size: 12px;
    width: 120px;
  }
   .our-tariffs .table-price input[type="submit"].g-green-button{
       bottom: 15px !important;
  }
  .wrapper-center,
  .b-top-screen .wrapper-center,
  .b-popular .wrapper-center {
    width: 95%;
  }
  header .logo,
  footer .logo {
    width: 144px;
  }
  header .link-tariff,
  footer .link-tariff {
    padding: 0 9px;
    margin: 0 -8px 0 15px;
    font: 14px/31px 'LatoRegular';
  }
  header .link-tariff:last-child,
  footer .link-tariff:last-child {
    display: none;
  }
  .b-top-screen {
    height: 251px;
  }
  .b-top-screen h1 {
    padding-top: 19px;
    font-size: 24px;
  }
  .b-top-screen h3 {
    font-size: 14px;
    line-height: 23px;
  }
  .b-top-screen h3 br {
    display: none;
  }
  .b-top-screen .center {
    margin: 11px 0 0 0;
  }
  .b-capabilities {
    padding-bottom: 47px;
  }
  .b-capabilities .title {
    font: 27px/40px 'LatoRegular';
    margin: 19px 0 10px 0;
  }
  .b-capabilities .subtitle {
    font-size: 15px;
  }
  .b-capabilities .item-list {
    margin: 36px 0 0 0;
  }
  .b-capabilities .item {
    width: 49%;
  }
  .b-capabilities .item img {
    width: 90px;
  }
  .b-capabilities .item .text {
    font: 14px/17px 'LatoRegular';
  }
  .b-capabilities .tariff {
    margin: 8px 0 0 0;
  }
  .b-popular {
    padding-bottom: 32px;
  }
  .b-popular .title {
    font: 30px/34px 'LatoRegular';
    margin: 27px 0 35px 0;
  }
  .b-popular .item {
    width: 49%;
    margin-bottom: -20px;
  }
  .b-popular .item img {
    height: 100px;
    width: 100%;
  }
  .b-popular .item .text {
    margin: 42px auto;
    font: 18px 'LatoBold';
  }

  .b-popular .desc {
    font: 23px 'LatoBold';
  }
  .b-video {
    padding-bottom: 47px;
  }
  .b-video .title {
    font: 30px/41px 'LatoRegular';
    margin: 20px 0 28px 0;
  }
  .b-video iframe {
    width: 300px;
    height: 230px;
    margin: 0 auto;
    display: block;
  }
  .b-video .g-blue-button {
    margin: 39px 0 0 0;
    font-size: 15px;
  }
  .our-tariffs .title {
    font: 26px/20px 'LatoRegular';
    margin: 28px 0 23px 0;
  }
  .our-tariffs .table-price .item {
    margin: 0 -2px 0 0;
    width: 49%;
    height: 250px;
  }
  .our-tariffs .table-price .item:nth-child(2n) {
    border-right: 1px solid #e4e4e4;
  }
  .our-tariffs .table-price .item:last-child {
    margin-left: 0px;
  }
  .our-tariffs .table-price .price {
    margin: 11px 0 0 0;
    font: 16px 'LatoRegular';
  }
  .our-tariffs .table-price .price span {
    font: 35px 'LatoBold';
  }
  .our-tariffs .table-price .g-blue-button {
    padding: 0 5px;
    line-height: 31px;
    bottom: 25px;
    width: 109px;
    font-size: 14px;
  }
  .our-tariffs .table-price .time {
    font: 21px 'LatoRegular';
  }
  .our-tariffs .table-price .sum {
    font: 17px 'LatoRegular';
    margin: 5px 0 23px 0;
  }
  .our-tariffs .column-text {
    display: none;
  }
  .our-tariffs .spec-text {
    display: block;
  }
  .our-tariffs .t-tariffs.third-table .item {
    height: 230px;
  }
  .our-tariffs .t-tariffs.third-table .item .title {
    font: 19px 'LatoRegular';
  }
  .big-text {
    font: 20px/26px 'LatoBold';
    padding: 10px 0 41px 0;
  }
  .big-text br {
    display: none;
  }
}
.hint-msg{
    display: none;
}

 #tarif_table{
        width: 1000px;
        
        margin: 0 auto;
    }
    #tarif_table tr td.icon {
        text-align: center;
        background-color: #ffffff!important;
        border-right: 1px solid #e4e4e4;
        border-left: 1px solid #e4e4e4;
    }
    #tarif_table tr.head td.t_name {
        text-transform: uppercase;
        font: 18px 'LatoRegular';
        color: #000;
        padding: 10px 0;
        width: 170px;
        text-align: center;
        font-weight: 700;
    }
    .gray_bg {
        background-color: #f7f7f7;
        border: 1px solid #e4e4e4;
        border-bottom: 0;
    }
    .green_bg {
        background-color: #feab2e;
        color: white!important;
    }
    .blue_bg {
        background-color: #086ca2;
        color: white!important;
    }
    #tarif_table tr td:empty {
        width: 20px;
    }
    #tarif_table tr td {
        padding: 4px 0;
    }
    #tarif_table tr:nth-child(even):not(.no_bg) td {
        background-color: #e8e8e8;
    }
    #tarif_table tr td:first-child {
        width: 470px;
        padding-left: 15px;
        font-size: 14px;
    }
    #tarif_table .icon img{
        width: 32px;
    }

.app-modal {
    z-index: 99999;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}
.modal-content-wrapper {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    background-color: #fff;
    width: 600px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
