.icon-tags:before,
.icon-users:before,
.icon-list:before {
  font-size: unset;
}
.tech {
  background-color: #fee;
}
.info-text-wrap {
  background: #fff;
  padding: 8px 16px 0;
}
.info-text-wrap >div {
  position: relative;
  text-align: justify;
  background: #fff;
  border: 1px #c7c7c7 solid;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
.info-text-wrap >div >div {
  padding: 10px 20px;
}
.lots_stats {
  padding: 10px 5px 0;
  overflow: auto;
  background: #fff;
}
.lots_stats div {
  float: right;
  line-height: 21px;
  font: 13px 'PT Sans', Arial, Verdana, sans-serif;
  margin-left: 10px;
}
.lots_stats div span {
  color: #d27600;
  margin-left: 3px;
}
.right {
  float: right;
}
.inline-btn {
  display: inline-block;
  color: #dd8b00;
}
.inline-btn:hover {
  color: #d27600;
  cursor: pointer;
}
#torg-wrapper {
  position: relative;
}
#torg-wrapper * {
  box-sizing: border-box;
}
#torg-wrapper[lite] #profile-wrapper,
#torg-wrapper[lite] #top-info-cont,
#torg-wrapper[lite] .info_block,
#torg-wrapper[lite] .toggle-lite[off] {
  display: none;
}
#torg-wrapper[lite] .toggle-lite[on] {
  display: block;
}
#torg-wrapper[lite] #intraday-cont {
  padding-top: 42px;
}
#torg-wrapper[lite] .intraday-table {
  margin-top: 0;
}
.top-btns-cont {
  position: absolute;
  top: 8px;
  right: 20px;
}
.top-btns-cont div {
  float: right;
}
.top-btns-cont div.toggle-src-cont {
  border: 1px solid #666;
  border-radius: 17px;
  box-sizing: border-box;
  overflow: hidden;
}
.top-btns-cont div.toggle-src-cont a,
.top-btns-cont div.toggle-src-cont div {
  display: block;
  float: left;
  font-size: 16px;
  line-height: 31px;
  padding: 0 16px;
  color: #43464b;
  background-color: #fff;
  cursor: default;
  user-select: none;
}
.top-btns-cont div.toggle-src-cont a:not(:first-child),
.top-btns-cont div.toggle-src-cont div:not(:first-child) {
  border-left: 1px solid #fff;
}
.top-btns-cont div.toggle-src-cont a {
  text-decoration: none;
  cursor: pointer;
  background-color: #43464b;
  color: #e8e9ed;
}
.top-btns-cont div.toggle-src-cont a:hover {
  background-color: #52565c;
  color: #fff;
}
.top-btns-cont div.toggle-lite {
  margin-right: 10px;
  line-height: 31px;
  color: #dd8b00;
}
.top-btns-cont div.toggle-lite[on] {
  display: none;
}
.top-btns-cont div.toggle-lite:hover {
  color: #f00;
  cursor: pointer;
}
#profile-wrapper {
  background: #fff;
}
#profile-fake {
  background: #fff;
  height: 50px;
  display: none;
}
#profile-cont {
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin: 0;
  padding: 20px 14px 0;
}
#profile-cont:before,
#profile-cont:after {
  display: table;
  content: " ";
  clear: both;
}
#profile-cont li {
  position: relative;
  display: block;
  float: left;
  margin: 0 0 -1px 2px;
}
#profile-cont li >div {
  position: relative;
  display: block;
  padding: 0 10px;
  line-height: 28px;
  color: #717171;
  font-weight: bold;
  cursor: default;
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 5px 5px 0 0;
}
#profile-cont li >div.inactive {
  font-weight: normal;
  padding: 0 10px;
  background-color: #f8f8f8;
  border-bottom-color: #ccc;
}
#profile-cont li >div.inactive:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}
#profile-cont li >div.add-wrapper {
  padding: 0 0 2px;
  line-height: 16px;
  border: none;
  background-color: #fff;
}
#profile-cont li >div.add-wrapper .add-cont {
  padding: 3px 4px 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#profile-cont li >div.add-wrapper .add-cont .add-btn {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
#profile-cont li >div.add-wrapper .add-cont .icon-help-orange {
  display: none;
  text-align: center;
  background: #d27600;
  color: #fff;
  width: 16px;
  border-radius: 10px;
  height: 16px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
#profile-cont li >div >div {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#profile-cont li >div >div.icon-edit:before {
  display: none;
}
#profile-cont li >div >div.icon-delete:before {
  display: none;
}
#profile-cont li >div:hover .add-cont .icon-help-orange {
  display: inline-block;
}
#profile-cont li >div:hover >div.icon-edit {
  margin-left: 6px;
}
#profile-cont li >div:hover >div.icon-edit:before {
  display: inline-block;
}
#profile-cont li >div:hover >div.icon-edit:hover:before {
  color: #dd8b00;
  cursor: pointer;
}
#profile-cont li >div:hover >div.icon-delete:before {
  display: inline-block;
}
#profile-cont li >div:hover >div.icon-delete:hover:before {
  color: #f00;
  cursor: pointer;
}
#torg-top-cont {
  margin: 8px 0 8px 16px;
  overflow: hidden;
}
#torg-top-cont >div {
  float: left;
  padding-right: 16px;
}
#torg-filter-cont {
  width: 68%;
}
#torg-news-cont {
  width: 32%;
}
.filters-cont {
  padding: 0 5px;
  overflow: auto;
}
.filter-active-cont {
  padding: 0 5px;
  clear: both;
}
.filter-active-cont[mode="view"]:hover .hide-filter-btn {
  display: inline-block;
}
.filter-active-cont[mode="edit"] .filter-group-total {
  display: block;
}
.filter-tabs-cont {
  border-bottom: 1px solid #a8a8a8;
  background: #fff;
  margin: 0;
  padding-top: 10px;
}
.filter-tabs-cont:before,
.filter-tabs-cont:after {
  display: table;
  content: " ";
  clear: both;
}
.filter-tabs-cont li {
  position: relative;
  display: block;
  float: right;
  margin: 0 0 -1px 2px;
}
.filter-tabs-cont li >div {
  position: relative;
  display: block;
  padding: 0 10px;
  line-height: 28px;
  color: #717171;
  font-weight: bold;
  cursor: default;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-bottom-color: transparent;
  border-radius: 5px 5px 0 0;
}
.filter-tabs-cont li >div[prm] {
  font-weight: normal;
  padding: 0 10px;
  background-color: #f8f8f8;
  border-bottom-color: #a8a8a8;
}
.filter-tabs-cont li >div[prm]:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}
.filter-tabs-cont li:first-of-type {
  float: left;
}
.filter-tabs-cont li:first-of-type >div {
  margin: 0;
  padding: 0;
  border-style: none;
}
.with-top-tabs {
  border: 1px solid #a8a8a8;
  border-top-style: none;
  vertical-align: middle;
  margin-bottom: 5px;
  border-radius: 0 0 2px 2px;
  padding: 6px 10px;
}
.with-top-tabs input {
  display: block;
  border-style: none;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
.with-top-tabs input::placeholder {
  color: #ccc;
}
input.full-size {
  display: block;
  border-style: none;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
input.full-size::placeholder {
  color: #ccc;
}
.multi-block-cont {
  position: relative;
  overflow: auto;
}
.multi-block-cont >div {
  float: left;
}
.pr2 {
  width: 49.99%;
}
.input-with-label-cont {
  position: relative;
}
.input-with-label-cont label {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 40px;
}
.input-with-label-cont input {
  padding-left: 40px;
}
.filter-active-fly {
  position: relative;
  float: left;
  padding: 0 5px;
}
.filter-active-fly:hover .hide-filter-btn {
  display: inline-block;
}
.filter-group-name {
  display: block;
  line-height: 28px;
  color: #717171;
  font-weight: bold;
}
.filter-group-name .filter-group-total {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
  margin: 4px 0;
}
.filter-opt-cont {
  position: relative;
  overflow: auto;
  border: 1px solid #a8a8a8;
  vertical-align: middle;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 6px 10px;
}
.filter-opt-cont span:not(:first-of-type):before {
  content: ', ';
}
.filter-opt-cont div {
  display: inline-block;
}
.filter-opt-cont div.filter-opt-btn {
  float: right;
  color: #dd8b00;
}
.filter-opt-cont div.filter-opt-btn:hover {
  color: #d27600;
  cursor: pointer;
}
.filter-opt-cont label {
  display: inline-block;
  position: relative;
  padding-right: 16px;
  user-select: none;
}
.filter-opt-cont label.group-title {
  font-weight: bold;
}
.filter-opt-cont label.force-title {
  font-weight: bold;
}
.filter-opt-cont label input[type="checkbox"] {
  margin-top: 4px;
  position: relative;
  bottom: -2px;
}
.hide-filter-btn {
  display: none;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hide-filter-btn i:before {
  color: #dd8b00;
}
.hide-filter-btn i:before:hover {
  color: #d27600;
}
.filter-hide-cont {
  position: relative;
  overflow: auto;
  padding: 5px;
  clear: both;
}
.filter-hide-cont div {
  float: left;
  padding-right: 16px;
}
.filter-hide-cont div span {
  color: #dd8b00;
}
.filter-hide-cont div span:hover {
  color: #d27600;
  cursor: pointer;
}
.button-cont {
  position: relative;
  overflow: auto;
}
.button-cont .button {
  float: right;
  font-weight: bold;
  text-align: center;
  min-width: 70px;
  line-height: 28px;
  padding: 0 16px;
  margin-left: 16px;
  border-radius: 6px;
  user-select: none;
}
.button-cont .button:hover {
  cursor: pointer;
}
.button-orange {
  background: #ff9b24;
  color: #fff;
  border: 0;
  border-right: rgba(253,255,253,0.32) 2px solid;
  border-bottom: rgba(253,255,253,0.32) 2px solid;
}
.button-orange:hover {
  background: #feab2e;
  border-right: rgba(253,255,253,0.49) 2px solid;
  border-bottom: rgba(253,255,253,0.49) 2px solid;
}
.button-empty {
  color: #717171;
  border: #a7a8a9 1px solid;
}
.button-empty:hover {
  background: #f1f1f1;
}
.news-cont {
  padding: 8px 10px;
  overflow: hidden;
}
.news-cont .news-item-cont {
  position: relative;
}
.news-cont .news-item-cont i {
  position: absolute;
  top: 0;
  left: 0;
}
.news-cont .news-item-cont .news-item {
  padding-left: 28px;
}
.torg-data-wrapper {
  margin: 8px 16px;
}
.no-data {
  margin: 20px 0;
  text-align: center;
}
.on-up-data {
  position: fixed;
  padding: 5px 15px;
  background: #faf4d4;
  border: 1px solid #d0ad34;
  color: #3a3a3a;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 14px rgba(130,130,130,0.5);
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intraday-cont .fa {
  font: 13px/24px 'PT Sans', Arial, Verdana, sans-serif;
}
#intraday-cont .fa.fa-filter:before {
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
}
#intraday-cont {
  padding: 0 20px 10px 5px;
}
td.main {
  padding: 0;
}
.allhead {
  box-shadow: none;
}
.intraday-table-wrapper {
  background: #fff none repeat scroll 0 0;
  color: #262626;
  margin: 8px 0 8px 18px;
  border: 1px solid #c7c7c7;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  padding: 0;
  font-size: 14px;
  text-align: center;
  cursor: default;
}
.settings-title {
  background: #f9f8f8;
  color: #717171;
  padding: 8px 10px 6px 15px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px #c7c7c7 solid;
}
.settings-title a {
  display: block;
  float: right;
}
.settings-line {
  padding: 8px 10px 0 8px;
  color: #717171;
  text-align: left;
}
.settings-line span {
  font-weight: bold;
}
.intraday-table {
  margin: 1px 0;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-right: 0;
}
.tablehead {
  margin: 0;
}
.intraday-table th {
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  color: #4d4d4d;
  border-right: 1px solid #d1d1d1;
  padding: 0 4px;
  height: 40px;
  min-width: 50px;
  text-align: center;
  background-color: #e5e5e5;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
}
.intraday-table th[prm] {
  background-image: url("../images/table/bg.png");
  padding-right: 15px;
  cursor: pointer;
}
.intraday-table th[prm][sort] {
  background-color: #e0e0e0;
}
.intraday-table th[prm][sort='1'] {
  background-image: url("../images/table/desc.png");
}
.intraday-table th[prm][sort='-1'] {
  background-image: url("../images/table/asc.png");
}
.intraday-table tr td.part_name {
  height: 17px;
  color: #fff;
  text-align: center;
  background: #52565c;
  border: 0;
  font-weight: bold;
  font-size: 15px;
}
.intraday-table tr td {
  border: 1px solid #fff;
  font-size: 11px;
  text-align: center;
  min-width: 50px;
  white-space: nowrap;
  color: #4d4d4d;
  padding: 4px 2px 4px 2px;
  background-color: #f9f9f9;
}
.intraday-table tr td.it_name {
  background-color: #fff;
  text-align: left;
  border-left: 0;
  padding-left: 8px;
  font-size: 12px;
  border-bottom: 1px solid #f7f7f7;
}
.intraday-table tr td.it_name .it_details:before {
  color: #ddd;
}
.intraday-table tr td.it_name:hover .it_details:before {
  color: #999;
}
.intraday-table tr td.it_name:hover .it_details:hover:before {
  cursor: pointer;
  color: #dd8b00;
}
.intraday-table tr td.it_name a {
  color: #4d4d4d;
}
.intraday-table tr.bumper {
  display: none;
}
.intraday-table tr.max5d {
  border-top: 3px solid #008000;
}
.intraday-table tr.max5d td.it_name {
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url("../images/table/top_green.png");
}
.intraday-table tr.min5d {
  border-bottom: 3px solid #f00;
}
.intraday-table tr.min5d td.it_name {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url("../images/table/bottom_red.png");
}
.intraday-table tr.min5d + tr.bumper {
  height: 3px;
  display: table-row;
}
.intraday-table tr td.green {
  background-color: #d8fee3;
}
.intraday-table tr td.l_green {
  background-color: #e5fcec;
  color: #828383;
}
.intraday-table tr td.red {
  background-color: #fbc5ce;
}
.intraday-table tr td.l_red {
  background-color: #f9e5e9;
  color: #828383;
}
.intraday-table tr td.nodata {
  background-color: #e8e8e8;
}
.intraday-table tr td.empty {
  background-color: #efefef;
  border: 1px solid #fff;
  color: transparent;
  font-size: 0;
}
.intraday-table tr td.yellow {
  background-color: #f7f5cb;
}
.intraday-table tr th.twocell,
.intraday-table tr th[colspan='2'] {
  height: 20px;
  border-bottom: 1px solid #d1d1d1;
  background-image: none;
  cursor: default;
}
.intraday-table tr th.halfcell {
  height: 20px;
  border-bottom: 0;
}
.oper-container:not([verified]) *[prm='1'] {
  display: none;
}
.tools-check-cont {
  display: inline-block;
  cursor: default;
}
.tools-check-cont .icon-help-orange {
  visibility: hidden;
  display: inline-block;
  text-align: center;
  background: #d27600;
  color: #fff;
  width: 16px;
  border-radius: 10px;
  height: 16px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
.tools-check-cont:hover .icon-help-orange {
  visibility: visible;
}
#pie-chart {
  float: left;
  opacity: 0.6;
}
#pie-chart-info {
  margin-left: 90px;
}
#pie-chart-info div {
  line-height: 16px;
}
#pie-chart-info div:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 4px 0 2px;
  margin: 0 5px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #808080;
  opacity: 0.6;
}
#pie-chart-info div:nth-child(2):before {
  background-color: #999;
}
#pie-chart-info div:nth-child(3):before {
  background-color: #b3b3b3;
}
#pie-chart-info div:nth-child(4):before {
  background-color: #ccc;
}
#pie-chart-info div:nth-child(5):before {
  background-color: #d3d3d3;
}
#pie-chart-info div:nth-child(6):before {
  background-color: #e6e6e6;
}
.torg-data-info {
  position: relative;
  overflow: auto;
  margin: 0 5px 0 20px;
  font-weight: bold;
  font-size: 12px;
  color: #b1b1b1;
}
.torg-data-info div {
  display: inline-block;
  margin: 10px 0;
}
.torg-data-info div.info span {
  padding-left: 30px;
}
.torg-data-info div.info span::before {
  display: inline-block;
  content: '';
  height: 15px;
  width: 15px;
  margin-bottom: -3px;
  outline: 1px solid #ddd;
}
.torg-data-info div.info span.new::before {
  background: #e8fae8;
}
.torg-data-info div.info span.updated::before {
  background: #fcf3e8;
}
.torg-data-info div.info span.noupdated::before {
  background: #fff;
}
.torg-data-info div.btn-columns-oper {
  margin: 6px 0;
  float: right;
  cursor: pointer;
  font-size: 23px;
}
.torg-data-info div.btn-columns-oper::before {
  color: #feab2e;
}
.torg-data-info div.btn-export-excel {
  margin: 4px 10px 3px 0;
  float: right;
  width: 29px;
  height: 28px;
  background-image: url("../images/Excel_2.png");
  background-size: cover;
  cursor: pointer;
}
.added {
  font-size: 12px;
}
[fav="false"] #export-fields-btn,
[columns="columns"] #export-fields-btn,
[columns="fields"] #view-columns-btn {
  display: none;
}
#columns-oper-cont,
#fields-oper-cont {
  position: relative;
  padding: 10px 10px 0 20px;
  border-top: 1px solid #ccc;
}
#columns-oper-cont .btn,
#fields-oper-cont .btn {
  float: right;
  margin-left: 10px;
}
#columns-oper-cont .btn[prm="save"],
#fields-oper-cont .btn[prm="save"] {
  display: none;
}
#columns-oper-cont[change="true"] .btn[prm="save"],
#fields-oper-cont[change="true"] .btn[prm="save"] {
  display: block;
}
.check-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border: 1px solid #52565c;
  border-radius: 5px;
  user-select: none;
}
.check-group div {
  display: inline-block;
  padding: 5px 10px;
}
.check-group div.check-group-name {
  color: #fff;
  background: #52565c;
}
.check-group div.column-check-cont {
  padding-right: 0;
}
.columns-blocked-cont {
  margin: 10px 10px 10px 20px;
  line-height: 20px;
}
.columns-blocked-cont div {
  display: inline-block;
  font-size: 80%;
  padding: 0 10px;
  margin: 0 4px;
  color: #676767;
  background: #ebebeb;
  border: 1px solid #676767;
  border-radius: 5px;
  user-select: none;
}
.lot-name-td {
  position: relative;
  overflow: auto;
  max-width: 300px;
}
.lot-name-td img {
  float: left;
  margin-right: 10px;
  width: 100px;
}
