_oper_dark_color = #d27600
_oper_light_color = #dd8b00
_warn_color = #f00

.icon-tags:before, .icon-users:before, .icon-list:before
  font-size unset

.tech
  background-color #fee

.info-text-wrap
  background #fff
  padding 8px 16px 0
  >div
    position relative
    text-align justify
    background #fff
    border 1px #c7c7c7 solid
    box-shadow 0 0 5px 2px rgba(0, 0, 0, 0.1)
    >div
      padding: 10px 20px;

.lots_stats
  padding 10px 5px 0
  overflow auto
  background #fff;
  div
    float right
    line-height 21px
    font 13px 'PT Sans', Arial, Verdana, sans-serif
    margin-left 10px
    span
      color #d27600
      margin-left 3px

.right
  float right

.inline-btn
  display inline-block
  color _oper_light_color
  &:hover
    color _oper_dark_color
    cursor pointer

#torg-wrapper
  position relative
  *
    box-sizing border-box
  &[lite]
    #profile-wrapper, #top-info-cont, .info_block, .toggle-lite[off]
      display none
    .toggle-lite[on]
      display block
    #intraday-cont
      padding-top 42px
    .intraday-table
      margin-top 0

.top-btns-cont
  position absolute
  top 8px
  right 20px
  div
    float right
    &.toggle-src-cont
      border 1px solid #666
      border-radius 17px
      box-sizing border-box
      overflow hidden
      a, div
        display block
        float left
        font-size 16px
        line-height 31px
        padding 0 16px
        color #43464b
        background-color #fff
        cursor default
        user-select none
        &:not(:first-child)
          border-left 1px solid #fff
      a
        text-decoration none
        cursor pointer
        background-color #43464b
        color #e8e9ed
        &:hover
          background-color #52565c
          color #fff
    &.toggle-lite
      margin-right 10px
      line-height 31px
      color #dd8b00
      &[on]
        display none
      &:hover
        color #f00
        cursor pointer

#profile-wrapper
  background #fff

#profile-fake
  background #fff
  height 50px
  display none

#profile-cont
  border-bottom 1px solid #ccc
  background #fff
  margin 0
  padding 20px 14px 0
  &:before, &:after
    display table
    content " "
    clear both
  li
    position relative
    display block
    float left
    margin 0 0 -1px 2px
    >div
      position relative
      display block
      padding 0 10px
      line-height 28px
      color #717171
      font-weight bold
      cursor default
      background-color #eee
      border 1px solid #ccc
      border-bottom-color transparent
      border-radius 5px 5px 0 0
      &.inactive
        font-weight normal
        padding 0 10px
        background-color #f8f8f8
        border-bottom-color #ccc
        &:hover
          cursor pointer
          background-color #fcfcfc
      &.add-wrapper
        padding 0 0 2px
        line-height 16px
        border none
        background-color #fff
        .add-cont
          padding 3px 4px 4px
          border 1px solid #ccc
          border-radius 5px
          .add-btn
            font-size 16px
            font-weight bold
            display inline-block
          .icon-help-orange
            display none
            text-align center
            background #d27600
            color #fff
            width 16px
            border-radius 10px
            height 16px
            padding 0
            font-size 12px
            line-height 16px
            cursor pointer
      >div
        display inline-block
        padding 0
        margin 0
        &.icon-edit:before
          display none
        &.icon-delete:before
          display none
      &:hover
        .add-cont .icon-help-orange
          display inline-block
        >div
          &.icon-edit
            margin-left 6px
            &:before
              display inline-block
          &.icon-edit:hover:before
            color #dd8b00
            cursor pointer
          &.icon-delete:before
            display inline-block
          &.icon-delete:hover:before
            color #f00
            cursor pointer


#torg-top-cont
  margin 8px 0 8px 16px
  overflow hidden
  >div
    float left
    padding-right 16px

#torg-filter-cont
  width 68%
#torg-news-cont
  width 32%

.filters-cont
  padding 0 5px
  overflow auto

.filter-active-cont
  padding 0 5px
  clear both
  &[mode="view"]
    &:hover
      .hide-filter-btn
        display inline-block
  &[mode="edit"]
    .filter-group-total
      display block

.filter-tabs-cont
  border-bottom 1px solid #a8a8a8
  background #fff
  margin 0
  padding-top 10px
  &:before, &:after
    display table
    content " "
    clear both
  li
    position relative
    display block
    float right
    margin 0 0 -1px 2px
    >div
      position relative
      display block
      padding 0 10px
      line-height 28px
      color #717171
      font-weight bold
      cursor default
      background-color #fff
      border 1px solid #a8a8a8
      border-bottom-color transparent
      border-radius 5px 5px 0 0
      &[prm]
        font-weight normal
        padding 0 10px
        background-color #f8f8f8
        border-bottom-color #a8a8a8
        &:hover
          cursor pointer
          background-color #fcfcfc
    &:first-of-type
      float left
      >div
        margin 0
        padding 0
        border-style none

.with-top-tabs
  border 1px solid #a8a8a8
  border-top-style none
  vertical-align middle
  margin-bottom 5px
  border-radius 0 0 2px 2px
  padding 6px 10px
  input
    display block
    border-style none
    font-size 16px
    box-sizing border-box
    width 100%
    outline none
    &::placeholder
      color #ccc

input.full-size
  display block
  border-style none
  font-size 16px
  box-sizing border-box
  width 100%
  outline none
  &::placeholder
    color #ccc

.multi-block-cont
  position relative
  overflow auto
  >div
    float left

.pr2
  width 49.99%

.input-with-label-cont
  position relative
  label
    position absolute
    bottom 0
    left 0
    text-align center
    width 40px
  input
    padding-left 40px

.filter-active-fly
  position relative
  float left
  padding 0 5px
  &:hover
    .hide-filter-btn
      display inline-block

.filter-group-name
  display block
  line-height 28px
  color #717171
  font-weight bold
  .filter-group-total
    display none
    float right
    width 20px
    height 20px
    margin 4px 0

.filter-opt-cont
  position relative
  overflow auto
  border 1px solid #a8a8a8
  vertical-align middle
  margin-bottom 5px
  border-radius 2px
  padding 6px 10px
  span:not(:first-of-type):before
    content ', '
  div
    display inline-block
    &.filter-opt-btn
      float right
      color _oper_light_color
      &:hover
        color _oper_dark_color
        cursor pointer
  label
    display inline-block
    position relative
    padding-right 16px
    user-select none
    &.group-title
      font-weight bold
    &.force-title
      font-weight bold
    input[type="checkbox"]
      margin-top 4px
      position relative
      bottom -2px

.hide-filter-btn
  display none
  cursor pointer
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  i:before
    color _oper_light_color
    &:hover
      color _oper_dark_color

.filter-hide-cont
  position relative
  overflow auto
  padding 5px
  clear both
  div
    float left
    padding-right 16px
    span
      color _oper_light_color
      &:hover
        color _oper_dark_color
        cursor pointer

.button-cont
  position relative
  overflow auto
  .button
    float right
    font-weight bold
    text-align center
    min-width 70px
    line-height 28px
    padding 0 16px
    margin-left 16px
    border-radius 6px
    user-select none
    &:hover
      cursor pointer

.button-orange
  background #ff9b24
  color white
  border 0
  border-right rgba(253, 255, 253, 0.32) 2px solid
  border-bottom rgba(253, 255, 253, 0.32) 2px solid
  &:hover
    background #feab2e
    border-right rgba(253, 255, 253, 0.49) 2px solid
    border-bottom rgba(253, 255, 253, 0.49) 2px solid

.button-empty
  color: #717171;
  border: #a7a8a9 1px solid;
  &:hover
    background #f1f1f1

.news-cont
  padding 8px 10px
  overflow hidden
  .news-item-cont
    position relative
    i
      position absolute
      top 0
      left 0
    .news-item
      padding-left 28px

.torg-data-wrapper
  margin 8px 16px
.no-data
  margin 20px 0
  text-align center
.on-up-data
  position fixed
  padding 5px 15px
  background #faf4d4
  border 1px solid #d0ad34
  color #3a3a3a
  text-align center
  font-weight bold
  box-shadow 0 0 14px rgba(130, 130, 130, 0.50)
  z-index 999
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);





#intraday-cont
  .fa
    font 13px/24px 'PT Sans',Arial,Verdana,sans-serif
    &.fa-filter:before
      font normal normal normal 14px/1 FontAwesome
      speak none
      display inline-block
      text-decoration inherit
      width 1em
      margin-right .2em
      text-align center
      font-variant normal
      text-transform none
      line-height 1em
      margin-left .2em
      -webkit-font-smoothing antialiased

#intraday-cont{
  padding: 0 20px 10px 5px;
}
td.main{
  padding: 0;
}
.allhead{
  box-shadow: none;
}

.intraday-table-wrapper{
  background: #FFF none repeat scroll 0 0;
  color: #262626;
  margin: 8px 0 8px 18px;
  border: 1px solid #C7C7C7;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  font-size: 14px;
  text-align: center;
  cursor: default;
}
.settings-title
  background #F9F8F8
  color #717171
  padding 8px 10px 6px 15px
  font-weight bold
  text-align left
  border-bottom 1px #c7c7c7 solid
  a
    display block
    float right
.settings-line
  padding 8px 10px 0 8px
  color #717171
  text-align left
  span
    font-weight bold

.intraday-table{
  margin: 1px 0;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  border-right: 0;
}

.tablehead{
  margin: 0;
}

.intraday-table th{
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  color: #4D4D4D;
  border-right: 1px solid #D1D1D1;
  padding: 0 4px;
  height: 40px;
  min-width: 50px;
  text-align: center;
  background-color: #E5E5E5;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
}
.intraday-table th[prm] {
  background-image: url(../images/table/bg.png);
  padding-right: 15px;
  cursor: pointer;
}
.intraday-table th[prm][sort] {
  background-color: #e0e0e0;
}
.intraday-table th[prm][sort='1'] {
  background-image: url(../images/table/desc.png);
}
.intraday-table th[prm][sort='-1'] {
  background-image: url(../images/table/asc.png);
}

.intraday-table tr td.part_name{
  height: 17px;
  color: white;
  text-align: center;
  background: #52565C;
  border: 0;
  font-weight: bold;
  font-size: 15px;
}

.intraday-table
  tr
    td
      border 1px solid white
      font-size 11px
      text-align center
      min-width 50px
      white-space nowrap
      color #4D4D4D
      padding 4px 2px 4px 2px
      background-color #f9f9f9
      &.it_name
        background-color white
        text-align left
        border-left 0
        padding-left 8px
        font-size 12px
        border-bottom 1px solid #f7f7f7
        .it_details
          &:before
            color #ddd
        &:hover
          .it_details
            &:before
              color #999
            &:hover
              &:before
                cursor pointer
                color #dd8b00
        a
          color #4D4D4D
    &.bumper
      display none
    &.max5d
      border-top 3px solid green
      td
        &.it_name
          background-repeat no-repeat
          background-position top right
          background-image url(../images/table/top_green.png)
    &.min5d
      border-bottom 3px solid red
      td
        &.it_name
          background-repeat no-repeat
          background-position bottom right
          background-image url(../images/table/bottom_red.png)
      + tr.bumper
        height 3px
        display table-row

.intraday-table tr td.green{
  background-color: #d8fee3;
}

.intraday-table tr td.l_green{
  background-color: #e5fcec;
  color: #828383;
}

.intraday-table tr td.red{
  background-color: #fbc5ce;
}

.intraday-table tr td.l_red{
  background-color: #f9e5e9;
  color: #828383;
}

.intraday-table tr td.nodata{
  background-color: #e8e8e8;
}

.intraday-table tr td.empty{
  background-color: #efefef;
  border: 1px solid white;
  color: transparent;
  font-size: 0;
}

.intraday-table tr td.yellow{
  background-color: #f7f5cb;
}

.intraday-table tr th.twocell, .intraday-table tr th[colspan='2']{
  height: 20px;
  border-bottom: 1px solid #D1D1D1;
  background-image: none;
  cursor: default;
}

.intraday-table tr th.halfcell{
  height: 20px;
  border-bottom:0;
}
.oper-container:not([verified]) *[prm='1'] {
  display: none;
}
.tools-check-cont{
  display: inline-block;
  cursor: default;
}
.tools-check-cont .icon-help-orange {
  visibility: hidden;
  display: inline-block;
  text-align: center;
  background: #d27600;
  color: #fff;
  width: 16px;
  border-radius: 10px;
  height: 16px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
.tools-check-cont:hover .icon-help-orange {
  visibility: visible;
}
#pie-chart{
  float: left;
  opacity: 0.6;
}
#pie-chart-info{
  margin-left: 90px;
}
#pie-chart-info div{
  line-height: 16px;
}
#pie-chart-info div:before{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 4px 0 2px;
  margin: 0 5px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #808080;
  opacity: 0.6;
}
#pie-chart-info div:nth-child(2):before{
  background-color: #999999;
}
#pie-chart-info div:nth-child(3):before{
  background-color: #b3b3b3;
}
#pie-chart-info div:nth-child(4):before{
  background-color: #cccccc;
}
#pie-chart-info div:nth-child(5):before{
  background-color: #d3d3d3;
}
#pie-chart-info div:nth-child(6):before{
  background-color: #e6e6e6;
}

.torg-data-info
  position relative
  overflow auto
  margin 0 5px 0 20px
  font-weight bold
  font-size 12px
  color #b1b1b1
  div
    display inline-block
    margin 10px 0;
    &.info
      span
        padding-left 30px
        &::before
          display inline-block
          content ''
          height 15px
          width 15px
          margin-bottom -3px
          outline 1px solid #ddd
        &.new::before
          background #e8fae8
        &.updated::before
          background #fcf3e8
        &.noupdated::before
          background #ffffff
    &.btn-columns-oper
      margin 6px 0
      float right
      cursor pointer
      font-size 23px
      &::before
        color #feab2e
    &.btn-export-excel
      margin 4px 10px 3px 0
      float right
      width 29px
      height 28px
      background-image url("../images/Excel_2.png")
      background-size cover
      cursor pointer

.added
  font-size 12px

[fav="false"] #export-fields-btn,
[columns="columns"] #export-fields-btn,
[columns="fields"] #view-columns-btn
  display none

#columns-oper-cont, #fields-oper-cont
  position relative
  padding 10px 10px 0 20px
  border-top 1px solid #ccc
  .btn
    float right
    margin-left 10px
    &[prm="save"]
      display none
  &[change="true"]
    .btn[prm="save"]
      display block

.check-group
  display inline-block
  margin-right 10px
  margin-bottom 10px
  padding-right 10px
  border 1px solid #52565c
  border-radius 5px
  user-select none
  div
    display inline-block
    padding 5px 10px
    &.check-group-name
      color #ffffff
      background #52565c
    &.column-check-cont
      padding-right 0

.columns-blocked-cont
  margin 10px 10px 10px 20px
  line-height 20px
  div
    display inline-block
    font-size 80%
    padding 0 10px
    margin 0 4px
    color #676767
    background #ebebeb
    border 1px solid #676767
    border-radius 5px
    user-select none

.lot-name-td
  position relative
  overflow auto
  max-width 300px
  img
    float left
    margin-right 10px
    width 100px
