<template>
    <div @click="cmd" class="app-modal">
        <div class="modal-content-wrapper panel-box">
            <div class="panel-box-header"><b>{{view.title}}</b></div>
            <div class="panel-box-body">
                <input v-model="vc.modal.data[view.input.prm]" :placeholder="view.placeholder" class="full-size">
            </div>
            <div v-if="view.oper" class="panel-box-footer button-cont">
                <div v-if="verified" prm="1" class="button button-orange">{{view.oper.ok}}</div>
                <div prm="0" class="button button-orange">{{view.oper.cancel}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    (function () {
        return {
            data: function () {
                return {
                    self: {
                        def: ''
                    }
                };
            },
            methods: {
                cmd: function (e) {
                    let prm = e.target.getAttribute('prm');
                    if(!prm) return;
                    this.response(+prm ? this.vc.modal : false);
                }
            },
            computed: {
                verified: function () {
                    return this.view.input.prm && (this.$data.self.def !== this.vc.modal.data[this.view.input.prm]);
                },
                view: function () {
                    return this.vc.modal.ui;
                }
            },
            beforeMount: function () {
                let m = this.vc.modal;
                this.$data.self.def = m.data[m.ui.input.prm];
            }
        }
    })();
</script>