<template>
    <div @click="go" class="app-modal">
        <div class="modal-content-wrapper panel-box">
            <div class="panel-box-header"><b>{{view.title}}</b></div>
            <div class="panel-box-body">
                <div v-html="view.msg"></div>
            </div>
            <div v-if="view.buttons.bottom" class="panel-box-footer button-cont" verified>
                <template v-for="btn in view.buttons.bottom">
                    <a v-if="btn.url" @click.stop="none" class="button button-orange" :href="btn.url">{{btn.title}}</a>
                    <div v-else @click.stop="go" :prm="btn.oper" class="button button-orange">{{btn.title}}</div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    (function () {
        return {
            data: function () {
                return {
                    self: {
                        buttons: {
                            ok: {position: 'bottom', oper: 1},
                            cancel: {position: 'bottom', oper: 0},
                            login: {position: 'bottom', url: '/login'},
                            reg: {position: 'bottom', url: '/user/register'},
                            subscr: {position: 'bottom', url: '/tariffs'},
                            later: {position: 'bottom', oper: 0}
                        }
                    }
                };
            },
            methods: {
                go: function (e) {
                    var prm = e.target.getAttribute('prm');
                    this.response((!prm || !+prm) ? false : this.vc.modal);
                },
                none: function () {}
            },
            computed: {
                view: function () {
                    var res = this.vc.modal.ui, storage, i, btn, pos, tmp;
                    if (res.oper) {
                        res.buttons = [];
                        storage = this.$data.self.buttons;
                        for (i = 0; i < res.oper.length; i++) {
                            btn = res.oper[i].b;
                            if (storage[btn]) {
                                tmp = JSON.parse(JSON.stringify(storage[btn]));
                                tmp.title = tmp.title || res.oper[i].t;
                                pos = tmp.position;
                                res.buttons[pos] = res.buttons[pos] || [];
                                res.buttons[pos].push(tmp);
                            }
                        }
                    }
                    return res;
                }
            }
        }
    })();
</script>