<template>
    <div v-if="view.ready" @click="cmd" id="torg-wrapper">
        <div id="profile-wrapper">
            <ul id="profile-cont">
                <template v-if="r.level">
                    <li v-for="profile in state.profiles">
                        <div v-if="profile.cur">
                            <div>{{profile.name}}</div><div :prm="'prf|rn|' + profile.id + '|' + profile.name" class="icon-edit"></div><div v-if="!profile.def" :prm="'prf|rm|' + profile.id" class="icon-delete"></div>
                        </div>
                        <div v-else :prm="'prf|go|' + profile.id" class="inactive">{{profile.name}}</div>
                    </li>
                    <li>
                        <div class="add-wrapper">
                            <div class="add-cont">
                                <div prm="prf|add" class="add-btn icon-plus"></div>
                                <a :href="d.tools.profile.url" class="icon-help-orange">?</a>
                            </div>
                        </div>
                    </li>
                </template>
                <template v-else>
                    <li>
                        <div>
                            <div>Гостевой профиль</div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
        <div id="torg-top-cont">
            <div id="torg-filter-cont">
                <div class="panel-box">
                    <div class="panel-box-header">
                        Настройки фильтра
                        <div v-if="diff.expand" prm="filters|expand" class="fa fa-chevron-down inline-btn right"></div>
                        <div v-if="diff.collapse" prm="filters|collapse" class="fa fa-chevron-up inline-btn right"></div>
                    </div>
                    <div ref="filter" class="filters-cont">
                        <template v-for="group in d.filter.list">
                            <template v-if="(r.level >= d.filter[group].r) && self.profile.cur.filterActive[group]">
                                <div v-if="d.filter[group].schema === 'text'" class="filter-active-cont">
                                    <div class="filter-tabs-cont">
                                        <ul>
                                            <li>
                                                <div>
                                                    <i :class="d.filter[group].icon"></i> {{d.filter[group].title}}
                                                </div>
                                            </li>
                                            <li v-for="item in d.filter[group].map.list">
                                                <div v-if="self.profile.cur.search_mode === item">{{d.filter[group].map[item]}}</div>
                                                <div v-else :prm="'mode|search_mode|' + item">{{d.filter[group].map[item]}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="with-top-tabs">
                                        <input @keyup="live" v-model="self.profile.cur.svalue" list="search_live" placeholder="Название лота, город, область, банкрот, арбитр, организатор, ИНН, номер дела, номер торгов и т.п."/>
                                    </div>
                                    <datalist id="search_live">
                                        <option v-for="opt in self.live" :value="opt"></option>
                                    </datalist>
                                </div>
                                <div v-else-if="d.filter[group].schema === 'date'" mode="view" class="filter-active-cont">
                                    <div class="filter-tabs-cont">
                                        <ul>
                                            <li>
                                                <div>
                                                    <i :class="d.filter[group].icon"></i>
                                                    {{d.filter[group].title}}
                                                    <div class="hide-filter-btn">
                                                        <i :prm="'filter|hide|' + group" class="icon-forward"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li v-for="item in d.filter[group].mapRange.list">
                                                <div v-if="self.profile.cur.date_range === item">{{d.filter[group].mapRange[item]}}</div>
                                                <div v-else :prm="'mode|date_range|' + item">{{d.filter[group].mapRange[item]}}</div>
                                            </li>
                                            <li v-for="item in d.filter[group].mapMode.list">
                                                <div v-if="self.profile.cur.date_mode === item">{{d.filter[group].mapMode[item]}}</div>
                                                <div v-else :prm="'mode|date_mode|' + item">{{d.filter[group].mapMode[item]}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="with-top-tabs">
                                        <template v-if="self.profile.cur.date_mode === 'wait'">
                                            <input v-model="self.profile.cur.altint" placeholder="Число или интервал, например: 2-5" class="empty-with-borders"/>
                                        </template>
                                        <template v-else>
                                            <div class="multi-block-cont">
                                                <div class="pr2 input-with-label-cont">
                                                    <label>с</label>
                                                    <input v-model="self.profile.cur.begin_date" type="date" placeholder="дата в формате dd.mm.yyyy"/>
                                                </div>
                                                <div class="pr2 input-with-label-cont">
                                                    <label>по</label>
                                                    <input v-model="self.profile.cur.end_date" type="date" placeholder="дата в формате dd.mm.yyyy"/>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div v-else-if="d.filter[group].schema === 'price'" mode="view" class="filter-active-cont">
                                    <div class="filter-tabs-cont">
                                        <ul>
                                            <li>
                                                <div>
                                                    <i :class="d.filter[group].icon"></i>
                                                    {{d.filter[group].title}}
                                                    <div class="hide-filter-btn">
                                                        <i :prm="'filter|hide|' + group" class="icon-forward"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li v-for="item in d.filter[group].map.list">
                                                <div v-if="+self.profile.cur.type_price === item">{{d.filter[group].map[item]}}</div>
                                                <div v-else :prm="'mode|type_price|' + item">{{d.filter[group].map[item]}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="with-top-tabs">
                                        <div class="multi-block-cont">
                                            <div class="pr2 input-with-label-cont">
                                                <label>от</label>
                                                <input v-model="self.profile.cur.price_start" placeholder="не важно"/>
                                            </div>
                                            <div class="pr2 input-with-label-cont">
                                                <label>до</label>
                                                <input v-model="self.profile.cur.price_end" placeholder="не важно"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-else-if="d.filter[group].schema === 'tree'" :mode="self.filterMode[group]" class="filter-active-cont">
                                    <div class="filter-group-name">
                                        <i :class="d.filter[group].icon"></i>
                                        {{d.filter[group].title}}
                                        <div class="hide-filter-btn">
                                            <i :prm="'filter|hide|' + group" class="icon-forward"></i>
                                        </div>
                                        <input :prm="'group|' + group" :checked="filterTreeGroups[group].total"
                                               type="checkbox" class="filter-group-total">
                                    </div>
                                    <div v-if="self.filterMode[group] === 'view'" class="filter-opt-cont">
                                        <span v-if="filterTreeGroups[group].total">все</span>
                                        <template v-else v-for="block in self.map[group]">
                                            <template v-for="item in block.list">
                                                <span v-if="self.profile.cur[d.filter[group].prm][item.id]"
                                                      :title="item.title" v-html="item.name"></span>
                                            </template>
                                        </template>
                                        <div :prm="'switch|' + group + '|edit'" class="filter-opt-btn">Изменить</div>
                                    </div>
                                    <div v-else class="filter-opt-cont">
                                        <template v-for="block in self.map[group]">
                                            <template v-for="item, index in block.list">
                                                <div v-if="!block.title">
                                                    <label class="force-title">
                                                        <input v-model="self.profile.cur[d.filter[group].prm][item.id]" type="checkbox"/>
                                                        <span :title="item.title" v-html="item.name"></span>
                                                    </label>
                                                </div>
                                                <label v-else-if="index">
                                                    <input v-model="self.profile.cur[d.filter[group].prm][item.id]" type="checkbox"/>
                                                    <span :title="item.title" v-html="item.name"></span>
                                                </label>
                                                <div v-else>
                                                    <label class="group-title">
                                                        <input v-if="block.group" :prm="'group|' + group + '|' + block.group"
                                                               :checked="filterTreeGroups[group][block.group]" type="checkbox"/>
                                                        <span>{{block.title}}</span>
                                                    </label>
                                                    <label>
                                                        <input v-model="self.profile.cur[d.filter[group].prm][item.id]" type="checkbox"/>
                                                        <span :title="item.title" v-html="item.name"></span>
                                                    </label>
                                                </div>
                                            </template>
                                        </template>
                                        <div :prm="'switch|' + group + '|view'" class="filter-opt-btn">Сохранить</div>
                                    </div>
                                </div>
                                <div v-else-if="d.filter[group].schema === 'group'" class="filter-active-fly pr2">
                                    <div class="filter-group-name">
                                        <i :class="d.filter[group].icon"></i>
                                        {{d.filter[group].title}}
                                        <div class="hide-filter-btn">
                                            <i :prm="'filter|hide|' + group" class="icon-forward"></i>
                                        </div>
                                    </div>
                                    <div class="filter-opt-cont">
                                        <label v-for="item in d.filter[group].map.list">
                                            <input v-if="d.filter[group].prm" v-model="self.profile.cur[d.filter[group].prm][item]" type="checkbox"/>
                                            <input v-else v-model="self.profile.cur[item]" type="checkbox"/>
                                            <span v-html="d.filter[group].map[item]"></span>
                                        </label>
                                    </div>
                                </div>
                            </template>
                        </template>
                        <div class="filter-hide-cont">
                            <template v-for="group in d.filter.list">
                                <template v-if="!self.profile.cur.filterActive[group]">
                                    <div v-if="r.level >= d.filter[group].r"><span :prm="'filter|show|' + group">{{d.filter[group].title}}</span></div>
                                    <div v-else><span :prm="'rights|f' + d.filter[group].r">{{d.filter[group].title}}</span></div>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div class="panel-box-footer button-cont">
                        <div prm="data" class="button button-orange">Искать</div>
                        <div prm="state|clear" class="button button-empty">Очистить</div>
                    </div>
                </div>
            </div>
            <div id="torg-news-cont">
                <div class="panel-box">
                    <div class="panel-box-header">
                        Новости площадок
                    </div>
                    <div ref="news" class="news-cont">
                        <template v-for="item in external.details.common.news">
                            <div class="news-item-cont">
                                <i class="icon-newspaper"></i>
                                <div class="news-item" v-html="item.text"></div>
                            </div>
                        </template>
                    </div>
                    <div class="grback"></div>
                    <div class="panel-box-footer button-cont">
                        <a href="/pnews" class="button button-orange">Показать все</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="torg-data-wrapper">
            <div class="panel-box">
                <template v-if="tbl">
                    <template v-if="tbl.count">
                        <div class="torg-data-info">
                            <div class="results">Показаны результаты: {{nav.from}}-{{nav.to}} из {{nav.count}}</div>
                            <div class="info">
                                <span class="new"> - Новый лот</span>
                                <span class="updated"> - Обновленный лот</span>
                                <span class="notupdated"> - Нет изменений</span>
                            </div>
                            <div v-if="self.edit.col !== 'fields'"
                                 :prm="['columns', self.edit.col ? 'hide' : 'show', r.level].join('|')"
                                 title="Настройка колонок таблицы" class="icon-cog-alt btn-columns-oper"></div>
                            <div v-if="btn.export && (self.edit.col !== 'columns')"
                                 :prm="['fields', self.edit.col ? 'hide' : 'show', r.level].join('|')"
                                 title="Экспорт в Excel" class="btn-export-excel"></div>
                        </div>
                        <form v-if="self.settings" mode="columns">
                            <div v-show="self.edit.col === 'columns'" id="columns-oper-cont" class="button-cont">
                                <div v-for="group in self.settings.columns.on" class="check-group">
                                    <div class="check-group-name">{{group.title}}</div>
                                    <div v-for="item in group.items" class="column-check-cont">
                                        <label>
                                            <input v-model="self.watchColumns.cur[item.name]" :value="item.name" type="checkbox" name="column">
                                            <span>{{item.title}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div v-if="diff.columns" prm="columns|save" class="button button-orange">Сохранить</div>
                            </div>
                            <div v-if="self.settings.columns.off.reg" class="columns-blocked-cont">
                                Колонки
                                <div v-for="item in self.settings.columns.off.reg">{{item}}</div>
                                будут доступны после <a href="/login">авторизации</a> или <a href="/user/register">регистрации</a>
                            </div>
                            <div v-if="self.settings.columns.off.pay" class="columns-blocked-cont">
                                Колонки
                                <div v-for="item in self.settings.columns.off.pay">{{item}}</div>
                                будут доступны после оплаты <a href="/tariffs">базового доступа</a>
                            </div>
                            <div v-if="self.settings.columns.off.vip" class="columns-blocked-cont">
                                Колонки
                                <div v-for="item in self.settings.columns.off.vip">{{item}}</div>
                                будут доступны после оплаты <a href="/tariffs">VIP доступа</a>
                            </div>
                        </form>
                        <form v-if="self.settings" mode="fields">
                            <div v-show="self.edit.col === 'fields'" id="fields-oper-cont" class="button-cont">
                                <div v-for="group in self.settings.fields.on" class="check-group">
                                    <div class="check-group-name">{{group.title}}</div>
                                    <div v-for="item in group.items" class="column-check-cont">
                                        <label>
                                            <input v-model="self.watchFields.cur[item.name]" :value="item.name" type="checkbox" name="column">
                                            <span>{{item.title}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div prm="fields|download" class="button button-orange">Скачать</div>
                                <div prm="fields|send" class="button button-orange">Отправить на почту</div>
                            </div>
                        </form>
                        <table id="torg-data-table" ref="dataTop" class="data_table">
                            <thead ref="thead">
                            <tr>
                                <template v-for="col in thead">
                                    <template v-if="self.profile.cur.sortcolumn === col">
                                        <th v-if="+self.profile.cur.sorttype === 1" :ref="'th_' + col" :prm="['sort', col, 2].join('|')" class="sort_down" v-html="d.column[col].title"></th>
                                        <th v-else :ref="'th_' + col" :prm="['sort', col, 1].join('|')" class="sort_up" v-html="d.column[col].title"></th>
                                    </template>
                                    <template v-else>
                                        <th v-if="d.column[col].sort" :ref="'th_' + col" :prm="['sort', col, 1].join('|')" v-html="d.column[col].title"></th>
                                        <template v-else-if="col === 'addition'">
                                            <th v-if="tbl.prm.allInFavorite" ref="th_addition" class="no_sort">
                                                <i cmd="fav|bn|del" title="Удалить все лоты из избранного" class="icon-star-clicked"></i>
                                            </th>
                                            <th v-else ref="th_addition" class="no_sort">
                                                <i cmd="fav|bn|" title="Добавить все лоты в избранное" class="icon-star-empty"></i>
                                            </th>
                                        </template>
                                        <th v-else :ref="'th_' + col" class="no_sort" v-html="d.column[col].title"></th>
                                    </template>
                                </template>
                            </tr>
                            </thead>
                            <thead :style="self.thead.main">
                            <tr>
                                <template v-for="col in thead">
                                    <template v-if="self.profile.cur.sortcolumn === col">
                                        <th v-if="+self.profile.cur.sorttype === 1" :prm="['sort', col, 2].join('|')" :style="self.thead['th_' + col]" class="sort_down" v-html="d.column[col].title"></th>
                                        <th v-else :prm="['sort', col, 1].join('|')" :style="self.thead['th_' + col]" class="sort_up" v-html="d.column[col].title"></th>
                                    </template>
                                    <template v-else>
                                        <th v-if="d.column[col].sort" :prm="['sort', col, 1].join('|')" :style="self.thead['th_' + col]" v-html="d.column[col].title"></th>
                                        <template v-else-if="col === 'addition'">
                                            <th v-if="tbl.prm.allInFavorite" :style="self.thead.th_addition" class="no_sort">
                                                <i cmd="fav|bn|del" title="Удалить все лоты из избранного" class="icon-star-clicked"></i>
                                            </th>
                                            <th v-else :style="self.thead.th_addition" class="no_sort">
                                                <i cmd="fav|bn|" title="Добавить все лоты в избранное" class="icon-star-empty"></i>
                                            </th>
                                        </template>
                                        <th v-else class="no_sort" :style="self.thead['th_' + col]" v-html="d.column[col].title"></th>
                                    </template>
                                </template>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in tbl.lots" :data-lotid="item.id" :class="item.class">
                                    <template v-for="col in d.column.list">
                                        <template v-if="tbl.columns[col]">
                                            <td v-if="item[col]" :style="item[col].style" :class="item[col].customclass" v-html="item[col].col"></td>
                                            <td v-else></td>
                                        </template>
                                    </template>
                                </tr>
                            </tbody>
                        </table>
                        <div ref="dataBottom" class="torg-data-info">
                            <div class="results">Показаны результаты: {{nav.from}}-{{nav.to}} из {{nav.count}}</div>
                            <div class="info">
                                <span class="new"> - Новый лот</span>
                                <span class="updated"> - Обновленный лот</span>
                                <span class="notupdated"> - Нет изменений</span>
                            </div>
                        </div>
                    </template>
                    <div v-else class="no-data">Ничего не найдено!</div>
                </template>
                <div v-else class="no-data"><i class="icon-spin5"></i> Загрузка...</div>
                <div v-if="tbl && self.up" class="on-up-data"><i class="icon-spin5"></i> Загрузка...</div>
            </div>
        </div>
        <div v-if="nav.total > 1" class="navig panel-box">
            <template v-if="nav.page === 1">
                <span v-if="nav.total > 2" class="navpgin">1</span>
                <span class="navpgin">« Назад</span>
            </template>
            <template v-else>
                <span v-if="nav.total > 2" prm="page|1" class="navpg">1</span>
                <span :prm="'page|' + nav.prev" class="navpg">« Назад</span>
            </template>
            <form>
                <select id="pageSelectSet" @change="getData" v-model="self.profile.cur.page" class="navselect">
                    <option v-for="page in nav.total" :value="page">{{page}}</option>
                </select>
            </form>
            <template v-if="nav.page === nav.total">
                <span class="navpgin">Вперед »</span>
                <span v-if="nav.total > 2" class="navpgin">{{nav.total}}</span>
            </template>
            <template v-else>
                <span :prm="'page|' + nav.next" class="navpg">Вперед »</span>
                <span v-if="nav.total > 2" :prm="'page|' + nav.total" class="navpg">{{nav.total}}</span>
            </template>
            <form style="margin-left: 100px;">
                <select @change="getData" v-model="self.profile.cur.kmess" class="navselect">
                    <option v-for="size in [20, 50, 100, 200]" :value="size">{{size}}</option>
                </select>
            </form>
        </div>
    </div>
</template>

<script>
    (function () {
        return {
            data: function () {
                Storage.external.torg = Storage.external.torg || {details: {}};
                return {
                    external: Storage.external.torg,
                    self: {
                        dbg: false,
                        edit: {
                            col: false
                        },
                        filters: {},
                        filterMode: {
                            'category': 'view',
                            'region': 'view',
                            'platform': 'view'
                        },
                        live: [],
                        map: {},
                        mapError: {
                            svalue: 'Поисковая строка должна быть больше 2-х символов!',
                            types: 'Выберите хотя бы один тип торгов!',
                            src: 'Выберите хотя бы один источник имущества!',
                            status: 'Выберите хотя бы один статус торгов!',
                            datePeriod: 'Дата окончания не должна быть меньше даты начала!',
                            pricePeriod: 'Указан некорректный диапазон цен!',
                            places: 'Не выбрано не одного региона!',
                            platforms: 'Не выбрано не одной платформы!',
                            categories: 'Не выбрано не одной категории!',
                            user: 'Некорректно настроены пользовательские метки!'
                        },
                        mapFailBtns: {
                            def: ['cancel'],
                            guest: ['login', 'reg'],
                            premium: ['subscr', 'later']
                        },
                        mapHints: {
                            date: 'Дата начала/окончания - можно задавать дату начала и окончания торгов.',
                            days: 'Дней до начала - можно указывать сколько осталось дней до начала торгов, т.е. до окончания приема заявок на допуск к участию на аукционах, а для публичного предложения это прием ценовых предложений уже в активных торгах.',
                            more: 'Подробнее - раскрывает описание имущества, для удобного его чтения его в таблице.',
                            new_lots: 'Новые лоты - имущество, которые появились в базе за последние 3 дня.',
                            hasPhoto: 'Фото - наличие фотографий у имущества.',
                            status_auct_1: 'Объявленные - это торги на которых еще нельзя участвовать в торгах , а надо подавать документы на участие в торгах и изучать имущества должника.',
                            status_auct_2: 'Прием заявок - для аукционов это прием заявок на допуск к участию на аукционах, а для публичного предложения - это прием ценовых предложений уже в активных торгах.',
                            status_auct_3: 'Окончены - имущество, торги по которому уже закончены (заявки не принимаются).',
                            type_auct_1: 'Аукцион - продажа имущества осуществляется в два этапа, имущество, выставляется на торги по цене, определяемой независимой оценкой (фигурирует в отчете), на первом аукционе заявки подаются на повышение, имущество приобретает тот, кто называет максимальную цену, если имущество не продается, тогда запускается второй аукцион, цена снижается на 10%, торги идут по той же схеме – на повышение.',
                            type_auct_2: 'Публичное предложение - на этом этап продается имущество, которое не было реализовано на аукционах, торги проходят на понижение, то есть выставляемое имущество может быть продано за минимальную стоимость.',
                            type_price_1: 'Текущая цена - текущая цена имущества на торгах.',
                            type_price_2: 'Минимальная цена - цена, ниже которой публичное предложение не опустится.',
                            type_price_3: 'Рыночная цена - рыночная цена имущества, полученная через оценку аналогичного имущества на открытом рынке. Рыночная цена является оценочной и присутствует не у всех лотов.'
                        },
                        mapPrAlone: ['new_lots', 'more', 'hasPhoto'],
                        mapPrArr: ['types', 'src', 'status', 'user', 'places', 'platforms', 'categories'],
                        mapRights: {
                            'f10': 'Этот фильтр будет доступен после оплаты базовой подписки',
                            'f11': 'Этот фильтр будет доступен после оплаты VIP подписки',
                            'columns': 'Настройка колонок таблицы будет доступна после регистрации',
                            'filters': 'Экспорт данных в Excel доступен только на VIP подписке'
                        },
                        profile: {
                            cur: {}
                        },
                        searchV: '',
                        settings: false,
                        thead: {
                            columns: [],
                            main: {display: 'none'}
                        },
                        up: false,
                        watchColumns: false,
                        watchFields: false
                    }
                };
            },
            methods: {
                checkSettings: function(){
                    let data = this.$data,
                        self = data.self,
                        res = JSON.parse(JSON.stringify(self.profile.cur)),
                        def = self.settings.def,
                        pr, beginDate, endDate;
                    if(res.svalue.length && (res.svalue.length < 3)){
                        create_notify(self.mapError.svalue);
                        return false;
                    }
                    for(let i = 0; i < self.mapPrArr.length; i++){
                        pr = self.mapPrArr[i];
                        res[pr] = _checkProperty(pr, res[pr]);
                        if(!res[pr]) {
                            create_notify(self.mapError[pr]);
                            return false;
                        }
                    }
                    for(let i = 0; i < self.mapPrAlone.length; i++){
                        pr = self.mapPrAlone[i];
                        res[pr] = res[pr] ? 1 : 0;
                    }
                    if(res.date_mode === 'date'){
                        beginDate = (new Date(res.begin_date || 0)).getTime() * 1e-3;
                        endDate = (new Date(res.end_date || 0)).getTime() * 1e-3;
                        if(beginDate && endDate && (beginDate > endDate)){
                            create_notify(self.mapError.datePeriod);
                            return false;
                        }
                    }
                    res.price_start = parseInt(res.price_start || 0);
                    res.price_end = parseInt(res.price_end || 0);
                    if(res.price_start && res.price_end && (res.price_start > res.price_end)){
                        create_notify(self.mapError.pricePeriod);
                        return false;
                    }
                    function _checkProperty(pr, src) {
                        let c = 0, res = {};
                        for(let p in def[pr]){
                            if(def[pr].hasOwnProperty(p) && src[p]){
                                res[p] = 1; c++;
                            }
                        }
                        return c ? res : false;
                    }
                    return res;
                },
                cmd: function (e) {
                    let storage = this.$data.external,
                        self = this.$data.self,
                        prm = e.target.getAttribute('prm'),
                        data, _vc, d = this.d, pr, tmp;
                    if(prm){
                        prm = prm.split('|');
                        switch (prm[0]) {
                            case 'columns':
                            case 'fields':
                                switch (prm[1]) {
                                    case 'show':
                                        if(+prm[2]){
                                            self.edit.col = prm[0];
                                        } else {
                                            create_notify(self.mapRights[prm[0]]);
                                        }
                                        break;
                                    case 'hide':
                                        self.edit.col = false;
                                        break;
                                    case 'download':
                                    case 'save':
                                    case 'send':
                                        this.getData(prm[1]);
                                        self.edit.col = false;
                                        break;
                                }
                                break;
                            case 'data':
                                this.getData();
                                break;
                            case 'filter':
                                this.$set(self.profile.cur.filterActive, prm[2], prm[1] === 'show' ? 1 : 0);
                                break;
                            case 'filters':
                                pr = (prm[1] === 'expand') ? 1 : 0;
                                tmp = d.filter.list;
                                for (let i = 0; i < tmp.length; i++){
                                    if(
                                        !self.settings.def.filterActive[tmp[i]]
                                        && (this.r.level >= d.filter[tmp[i]].r)
                                    ){
                                        this.$set(self.profile.cur.filterActive, tmp[i], pr);
                                    }
                                }
                                break;
                            case 'group':
                                let map = self.map[prm[1]],
                                    target = self.profile.cur[this.d.filter[prm[1]].prm],
                                    val = e.target.checked ? 1 : 0;
                                for(let i = 0; i < map.length; i++){
                                    if((map[i].group === prm[2]) || !prm[2]){
                                        for(let j = 0; j < map[i].list.length; j++){
                                            this.$set(target, map[i].list[j].id, val);
                                        }
                                    }
                                }
                                break;
                            case 'mode':
                                self.profile.cur[prm[1]] = parseInt(prm[2]) || prm[2];
                                break;
                            case 'page':
                                this.getData(null, null, +prm[1]);
                                break;
                            case 'prf':
                                data = {
                                    formid: storage.details.common.formid,
                                    cmd: 'profile_' + prm[1]
                                };
                                _vc = {
                                    storage: storage,
                                    property: 'details'
                                };
                                switch (prm[1]){
                                    case 'go':
                                        data.ind = prm[2];
                                        break;
                                    case 'add':
                                        data.name = '';
                                        _vc.beforeExec = {
                                            vc: 'input-edit',
                                            ui: {
                                                title: d['msg_profile_add_header'],
                                                input: {prm: 'name'},
                                                placeholder: d['msg_profile_add_placeholder'],
                                                oper: {
                                                    ok: d.btn_create,
                                                    cancel: d.btn_cancel
                                                }
                                            }
                                        };
                                        break;
                                    case 'rn':
                                        data.ind = prm[2];
                                        data.name = prm[3];
                                        _vc.beforeExec = {
                                            vc: 'input-edit',
                                            ui: {
                                                title: d['msg_profile_rn_header'],
                                                input: {prm: 'name'},
                                                placeholder: d['msg_profile_add_placeholder'],
                                                oper: {
                                                    ok: d.btn_save,
                                                    cancel: d.btn_cancel
                                                }
                                            }
                                        };
                                        break;
                                    case 'rm':
                                        data.ind = prm[2];
                                        _vc.beforeExec = {
                                            vc: 'msg',
                                            ui: {
                                                title: d['msg_profile_rm_header'],
                                                msg: d['msg_profile_rm_text'],
                                                oper: [
                                                    {b: 'ok', t: d.btn_remove},
                                                    {b: 'cancel', t: d.btn_cancel}
                                                ]
                                            }
                                        };
                                        break;
                                }
                                this.update({
                                    method: 'POST',
                                    url: '/data/torg?level=details&mode=user',
                                    data: data,
                                    _vc: _vc
                                });
                                break;
                            case 'rights':
                                create_notify(self.mapRights[prm[1]]);
                                break;
                            case 'sort':
                                self.profile.cur.sortcolumn = prm[1];
                                self.profile.cur.sorttype = +prm[2];
                                this.getData();
                                break;
                            case 'state':
                                if(prm[1] === 'clear'){
                                    self.profile.cur = JSON.parse(JSON.stringify(self.settings.def));
                                    this.getData('data', {level: 'table'});
                                }
                                break;
                            case 'switch':
                                self.filterMode[prm[1]] = prm[2];
                                break;
                        }
                    }
                },
                live: function(e){
                    let self = this.$data.self,
                        cur = self.profile.cur,
                        searchV = self.searchV;
                    if(cur.svalue !== searchV){
                        searchV = self.searchV = cur.svalue;
                        if(e.keyCode && (searchV.length > 2)){
                            this.update({
                                method: 'GET',
                                url: '/cmd/livesearch?query=' + searchV + '&mode=' + cur.search_mode,
                                _vc: {
                                    storage: self,
                                    property: 'live'
                                }
                            })
                        }
                    }
                    self.dbg && console.log('live');
                },
                getNames: function(obj, d = '&', diff){
                    let res = [];
                    for(let pr in obj){
                        if(obj.hasOwnProperty(pr) && (diff ? (obj[pr] !== diff[pr]) : obj[pr])) {
                            res.push(pr);
                        }
                    }
                    return res.join(d);
                },
                getData: function(action, opt, page){
                    let data = this.checkSettings();
                    if(!action || !action.target || (action.target.id !== 'pageSelectSet')){
                        data.page = page || 1;
                        this.$data.self.profile.cur.page = data.page;
                    }
                    opt = opt || {};
                    if(data){
                        data.formid = this.$data.external.details.common.formid;
                        data.cmd = action;
                        data.columns = this.getNames(this.$data.self.watchColumns.cur, '&');
                        switch (action) {
                            case 'save':
                                data.mode = 'bankruptcy';
                                data.items = this.getNames(this.$data.self.watchColumns.cur, '|', this.$data.self.watchColumns.def);
                                opt.level = 'table';
                                break;
                            case 'download':
                            case 'send':
                                data.mode = 'export';
                                data.items = this.getNames(this.$data.self.watchFields.cur, '|', this.$data.self.watchFields.def);
                                data.fields = this.getNames(this.$data.self.watchFields.cur, '&');
                                opt.level = 'table';
                                break;
                            case 'init':
                                break;
                            default:
                                data.cmd = 'data';
                                if(this.r.level){
                                    data.save = true;
                                    opt.level = 'table';
                                } else {
                                    data.save = false;
                                    opt.level = 'data';
                                }
                        }
                        this.getDetails(opt, data);
                        this.$refs.dataTop && this.$refs.dataTop.scrollIntoView();
                        self.dbg && console.log('getData', data);
                    }
                },
                getDetails: function (opt, post) {
                    opt = opt || {};
                    let data = this.$data,
                        storage = data.external,
                        self = data.self,
                        level = opt.level || 'data',
                        prm = ['level=' + level, 'mode=user'];
                    !post && prm.push('rnd=' + Math.random());
                    if(level === 'table'){
                        storage = storage.details;
                    } else if(level === 'data'){
                        storage = storage.details.table;
                    }
                    this.update({
                        method: post ? 'POST' : 'GET',
                        url: '/data/torg?' + prm.join('&'),
                        data: post,
                        _vc: {
                            storage: storage,
                            property: level
                        }
                    });
                    self.up = true;
                },
                tableHead: function () {
                    let self = this.$data.self,
                        col = this.thead,
                        dataTop = this.$refs.dataTop,
                        top = dataTop ? dataTop.getBoundingClientRect().top : 0,
                        dataBottom = this.$refs.dataBottom,
                        bottom = dataBottom ? dataBottom.getBoundingClientRect().top : 0,
                        tmp = {columns: col}, i = 0;
                    if(top < 0 && bottom > 0){
                        for(; i < col.length; i++){
                            tmp['th_' + col[i]] = {minWidth: this.$refs['th_' + col[i]][0].offsetWidth + 'px'}
                        }
                        tmp.main = {
                            position: 'fixed',
                            top: 0,
                            left: '16px',
                            right: '16px',
                            zIndex: 1,
                            display: 'block'
                        }
                    } else {
                        tmp.main = {
                            display: 'none'
                        }
                    }
                    self.thead = tmp;
                },
            },
            computed: {
                filterTreeGroups: function(){
                    let self = this.$data.self,
                        map = self.map,
                        prm = self.profile.cur,
                        res = {}, c, l, cT, lT, gr, fld;
                    for(let pr in map){
                        if(map.hasOwnProperty(pr)){
                            res[pr] = {};
                            cT = 0; lT = 0;
                            for(let i = 0; i < map[pr].length; i++){
                                gr = map[pr][i].group;
                                c = 0;
                                fld = this.d.filter[pr].prm;
                                l = map[pr][i].list;
                                for(let j = 0; j < l.length; j++){
                                    c += prm[fld][l[j].id] ? 1 : 0;
                                }
                                if(gr){
                                    res[pr][gr] = l.length === c;
                                }
                                lT += l.length;
                                cT += c;
                            }
                            res[pr].total = lT === cT;
                        }
                    }
                    self.dbg && console.log('fG', res);
                    return res;
                },
                d: function () {
                    var details = this.$data.external.details;
                    return details.common ? details.common.dict : {};
                },
                r: function () {
                    let details = this.$data.external.details;
                    return details.common ? details.common.r : {};
                },
                nav: function(){
                    let self = this.$data.self,
                        res = {count: this.tbl ? this.tbl.count : 0};
                    if(!res.count) return false;
                    let settings = self.profile.cur,
                        size = settings.kmess || 20;
                    res.page = settings.page;
                    res.from = (res.page - 1) * size + 1;
                    res.to = Math.min(res.from + size - 1, res.count);
                    res.total = Math.ceil(res.count / size);
                    res.prev = res.page - 1;
                    res.next = res.page + 1;
                    return res;
                },
                diff: function(){
                    let self = this.$data.self,
                        d = this.d,
                        def = self.settings.def,
                        cur = self.profile.cur,
                        res = {}, fl, tmp;
                    {// изменения в настройках колонок таблицы
                        fl = false;
                        tmp = self.watchColumns;
                        for(let pr in tmp.fix){
                            if(tmp.fix.hasOwnProperty(pr) && (tmp.fix[pr] !== tmp.cur[pr])){
                                fl = true; break;
                            }
                        }
                        res.columns = fl;
                    }
                    {//наличие неразвернутых фильтров
                        fl = false;
                        tmp = d.filter.list;
                        for(let i = 0; i < tmp.length; i++){
                            if(!def.filterActive[tmp[i]] && !cur.filterActive[tmp[i]]){
                                fl = true; break;
                            }
                        }
                        res.expand = fl;
                    }
                    {//наличие несвернутых фильтров
                        fl = false;
                        tmp = d.filter.list;
                        for(let i = 0; i < tmp.length; i++){
                            if(!def.filterActive[tmp[i]] && cur.filterActive[tmp[i]]){
                                fl = true; break;
                            }
                        }
                        res.collapse = fl;
                    }
                    return res;
                },
                state: function () {
                    let data = this.$data,
                        self = data.self,
                        res = {profiles: []}, profile, tmp, tmpV;
                    if(self.settings){
                        profile = self.settings.user;
                        if(profile.current){
                            for(let pr in profile.list){
                                if(profile.list.hasOwnProperty(pr)){
                                    res.profiles.push({
                                        id: pr,
                                        name: profile.list[pr].n,
                                        def: !(pr - profile.def),
                                        cur: !(pr - profile.current)
                                    })
                                }
                            }
                        }
                        tmp = self.settings.columns.on;
                        res.columns = {def: {}, fix: {}};
                        for(let i = 0; i < tmp.length; i++){
                            for (let j = 0; j < tmp[i].items.length; j++){
                                tmpV = tmp[i].items[j];
                                res.columns.def[tmpV.name] = tmpV.def;
                                res.columns.fix[tmpV.name] = tmpV.ch;
                            }
                        }
                        res.columns.cur = JSON.parse(JSON.stringify(res.columns.fix));
                        tmp = self.settings.fields.on;
                        res.fields = {def: {}, fix: {}};
                        for(let i = 0; i < tmp.length; i++){
                            for (let j = 0; j < tmp[i].items.length; j++){
                                tmpV = tmp[i].items[j];
                                res.fields.def[tmpV.name] = tmpV.def;
                                res.fields.fix[tmpV.name] = tmpV.ch;
                            }
                        }
                        res.fields.cur = JSON.parse(JSON.stringify(res.fields.fix));
                    }
                    self.dbg && console.log('state', res.columns, res.fields);
                    return res;
                },
                thead: function () {
                    let details = this.$data.external.details,
                        d = this.d, data, res = [], i, tmp;
                    if(details.table){
                        data = details.table.data;
                        if(data){
                            if(data.count){
                                for(i = 0; i < d.column.list.length; i++){
                                    tmp = d.column.list[i];
                                    data.columns[tmp] && res.push(tmp);
                                }
                            }
                        }
                    }
                    self.dbg && console.log('thead');
                    return res;
                },
                view: function () {
                    let details = this.$data.external.details,
                        self = this.$data.self,
                        table, tmp;
                    if(details.table){
                        table = details.table;
                        if(table.settings){
                            tmp = JSON.parse(JSON.stringify(table.settings.user.prm || table.settings.def));
                            self.profile.cur = tmp;
                            self.searchV = tmp.svalue;
                            self.settings = table.settings;
                            self.watchColumns = this.state.columns;
                            self.watchFields = this.state.fields;
                            delete table.settings;
                        }
                        self.map = details.common.map;
                        if(!table.data){
                            this.getData('init');
                        }
                        self.dbg && console.log('view', details);
                    }
                    return {ready: !!details.common};
                },
                tbl: function () {
                    let details = this.$data.external.details,
                        self = this.$data.self,
                        table, res = false;
                    if(details.table){
                        table = details.table;
                        if(table.data){
                            if(table.data.message){
                                create_notify(table.data.message);
                                delete table.data.message;
                            }
                            if(table.data.file){
                                window.location = table.data.file;
                                delete table.data.file;
                            }
                            res = table.data;
                            self.up = false;
                        }
                        self.dbg && console.log('tbl', res);
                    }
                    return res;
                },
                btn: function () {
                    let self = this.$data.self,
                    res = {}, tmp;
                    tmp = self.profile.cur.user;
                    res.export = tmp.fav && !tmp.all && !tmp.trash;
                    self.dbg && console.log('btn');
                    return res;
                }
            },
            mounted: function () {
                this.getDetails({level: 'details'});
                window.addEventListener('scroll', this.tableHead);
            },
            updated: function () { // todo rewrite
                this.$refs.news.style.height = this.$refs.filter.offsetHeight + 'px';
            }
        }
    })();
</script>